<mat-drawer-container >
  <mat-drawer mode="side" opened>

    <mat-nav-list td-sidenav-content >

            <button mat-menu-item color="accent" (click)="registerApp()"><mat-icon>add_circle</mat-icon> Register SMART App</button>
            <button mat-menu-item color="accent" (click)="configuration()"><mat-icon>settings</mat-icon> Config </button>
    </mat-nav-list>

  </mat-drawer>


<mat-drawer-content>
  <span *ngIf="cards !== undefined">
   <span *ngFor="let card of cards, let index = index, let even = even, let odd = odd">
     <span *ngIf="odd">
  <div fxLayout="row"
       fxFlexFill >


    <div fxFlex="50">

        <mat-card >
            <img  mat-card-image src="{{card.image}}">
            <mat-card-title>{{card.name}}</mat-card-title>
            <mat-card-subtitle>{{card.source}}</mat-card-subtitle>

              <mat-card-content>
                {{card.notes}}
                <span *ngIf="card.endpoint !== undefined">
                  Endpoint: <b>{{card.endpoint.address}} </b>
                </span>
              </mat-card-content>

            <mat-card-actions >
               <span *ngIf="card.url === ''">
                     <button mat-icon-button color="accent" (click)="smartAppConfig(card)"><mat-icon>settings</mat-icon></button>
                </span>

            </mat-card-actions>
        </mat-card>
  </div>

    <div fxFlex="50">
        <span *ngIf="cards[index+1]!==undefined">
        <mat-card >
            <img  mat-card-image src="{{cards[index+1].image}}">
            <mat-card-title>{{cards[index+1].name}}</mat-card-title>
            <mat-card-subtitle>{{cards[index+1].source}}</mat-card-subtitle>
              <mat-card-content>
                {{cards[index+1].notes}}

              </mat-card-content>

            <mat-card-actions >
               <span *ngIf="cards[index+1].url === ''">
                     <button mat-icon-button color="accent" (click)="smartAppConfig(cards[index+1])"><mat-icon>settings</mat-icon></button>
                </span>

            </mat-card-actions>
        </mat-card>
        </span>
  </div>

  </div>
       </span>
      </span>
    </span>
</mat-drawer-content>
  </mat-drawer-container>
