
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let referral"> {{referral.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef width="10%"> Date </th>
      <td mat-cell *matCellDef="let referral"> {{referral.authoredOn | date: 'dd-MMM-yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef width="5%"> Status </th>
      <td mat-cell *matCellDef="let referral"> {{referral.status}} </td>
    </ng-container>

    <ng-container matColumnDef="intent">
      <th mat-header-cell *matHeaderCellDef width="5%"> Intent </th>
      <td mat-cell *matCellDef="let referral"> {{referral.intent}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let referral">
        <span *ngIf="referral.type !== undefined">
          <b>{{referral.type.coding[0].display}}</b>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="specialty">
      <th mat-header-cell *matHeaderCellDef> Specialty </th>
      <td mat-cell *matCellDef="let referral">
        <span *ngIf="referral.specialty !== undefined">
          <b>{{referral.specialty.coding[0].display}}</b>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef> Reason </th>
      <td mat-cell *matCellDef="let referral"> <span *ngIf="referral.reasonCode !== undefined && referral.reasonCode.length>0">
        <span *ngFor="let reason of referral.reasonCode">

        <b>{{reason.coding[0].display}}</b>
        </span>
        </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef> Service </th>
      <td mat-cell *matCellDef="let referral"> <span *ngIf="referral.serviceRequested !== undefined && referral.serviceRequested.length>0">
        <span *ngFor="let service of referral.serviceRequested">

        <b>{{service.coding[0].display}}</b>
        </span>
        </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="requestor">
      <th mat-header-cell *matHeaderCellDef> Requestor </th>
      <td mat-cell *matCellDef="let referral">
        <span *ngIf="referral.requester !=undefined">
            <span *ngIf="referral.requester.agent !=undefined">
              {{referral.requester.agent.display}}
            </span>
            <span *ngIf="referral.requester.onBehalfOf !=undefined">
              {{referral.requester.onBehalfOf.display}}
            </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="recipient">
      <th mat-header-cell *matHeaderCellDef> Recipient </th>
      <td mat-cell *matCellDef="let referral">
        <span *ngIf="referral.recipient !=undefined">
            <span *ngFor="let recipient of referral.recipient">
              {{recipient.display}}
            </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let referral">  <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(referral)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>

