/* You can add global styles to this file, and also import other style files */
/*
.mat-select{
  width:700px !important;
}
*/
.td-search-box {
  .td-search-icon.mat-icon-button {
    margin: 0;
    height: 30px;
    .mat-icon {
      margin-top: -10px;
    }
  }
  td-search-input {
    margin-left: 0 !important;
    margin-bottom: 5px;
    .mat-form-field {
      width: auto;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-input-infix {
      padding: 0;
    }
    .mat-form-field-infix {
      border-top: 0;
    }
  }
}
