/* You can add global styles to this file, and also import other style files */
/*
.mat-select{
  width:700px !important;
}
*/

table { border: none;   table-layout: fixed; text-align: left; width: 100%;}
th.default {padding: 3px; color: #000000;  text-align: left;}
th {padding: 3px; font-size: 10pt;}
td {padding: 3px; font-size: 10pt;}


.td-search-box {
  .td-search-icon.mat-icon-button {
    margin: 0;
    height: 30px;
    .mat-icon {
      margin-top: -10px;
    }
  }
  td-search-input {
    margin-left: 0 !important;
    margin-bottom: 5px;
    .mat-form-field {
      width: auto;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-input-infix {
      padding: 0;
    }
    .mat-form-field-infix {
      border-top: 0;
    }
  }
}

.input-half-width {
  width: 50%;
}


.example-full-width {
  width: 100%;
}

.xlModal > .modal-dialog {
  max-width: 1490px !important;
  min-width: 971px !important;
  width: 95% !important;
}
