

  <span *ngIf="encounter !== undefined">
    <mat-card>

        <mat-card-content>
          <h3>Encounter</h3>

              <div *ngIf="encounter.type !== undefined && encounter.type.length>0 && encounter.type[0].coding.length >0">

  <div class="container" layout="row" layout-align="start center" flex>
              <h2>{{encounter.type[0].coding[0].display}}</h2>
              <span flex ></span>
              {{encounter.status}}
    <span flex ></span>
     <span *ngIf="encounter.period !== undefined  && encounter.period.start !== undefined"> {{encounter.period.start | date: 'dd MMM yyyy HH:mm'}} </span>
      -
     <span *ngIf="encounter.period !== undefined && encounter.period.end !== undefined"> {{encounter.period.end | date: 'HH:mm'}} </span>
  </div>


                              <span *ngIf="isSNOMED(encounter.type[0].coding[0].system)">
                                &nbsp;<a (click)="getSNOMEDLink(encounter.type[0].coding[0])"><span *ngIf="encounter.type[0].coding[0].code !== undefined" class="fa fa-book" matTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}"></span> </a>
                              </span>
                              <span *ngIf="!isSNOMED(encounter.type[0].coding[0].system)">
                                &nbsp;<span *ngIf="encounter.type[0].coding[0].code !== undefined" class="fa fa-book" matTooltip="{{getCodeSystem(encounter.type[0].coding[0].system)}} {{encounter.type[0].coding[0].code}}"></span>
                              </span>
               </div>

                <div *ngFor="let participant of encounter.participant">
                    <span *ngIf="participant.individual !== undefined"><i>{{participant.individual.display}}</i></span>
                </div>
                <div *ngFor="let location of encounter.location">
                    <span *ngIf="location.location !== undefined"><i>{{location.location.display}}</i></span>
                </div>


                <div *ngIf="encounter.serviceProvider!=undefined"> {{encounter.serviceProvider.display}}</div>
      </mat-card-content>
      </mat-card>
    </span>


  <span *ngIf="conditionTotal>0">
    <mat-card>
        <mat-card-content>
            <h3>Condition</h3>
            <app-condition [conditions]="conditions"></app-condition>
        </mat-card-content>
    </mat-card>
  </span>

  <span *ngIf="procTotal>0">
    <mat-card>
        <mat-card-content>
          <h3>Procedures</h3>
          <app-procedure [procedures]="procedures"></app-procedure>
        </mat-card-content>
    </mat-card>
  </span>



  <span *ngIf="compositions.length > 0">
     <mat-card>
        <mat-card-content>
          <h3>Compositions</h3>
          <app-composition [compositions]="compositions"></app-composition>
        </mat-card-content>
     </mat-card>
  </span>

  <span *ngIf="documents.length > 0">
     <mat-card>
        <mat-card-content>
          <h3>Documents</h3>
          <app-document-reference [documents]="documents"></app-document-reference>
        </mat-card-content>
     </mat-card>
  </span>

  <span *ngIf="obsTotal>0">
     <mat-card>
        <mat-card-content>
          <h3>Observations</h3>
          <app-observation [showDetail]="false" [observations]="observations"></app-observation>
        </mat-card-content>
     </mat-card>
  </span>

  <span *ngIf="referrals.length > 0">
     <mat-card>
        <mat-card-content>
          <h3>Referrals</h3>
          <app-referral-request  [referrals]="referrals"></app-referral-request>
        </mat-card-content>
     </mat-card>
  </span>
  <span *ngIf="prescriptions.length > 0">
    <mat-card>
        <mat-card-content>
          <h3>Prescriptions</h3>
          <app-medication-request [medicationRequests]="prescriptions"></app-medication-request>
        </mat-card-content>
    </mat-card>
  </span>

  <span *ngIf="medicationDispenses.length > 0">
     <mat-card>
        <mat-card-content>
          <h3>Medication Dispense</h3>
          <app-medication-dispense [medicationDispenses]="medicationDispenses"></app-medication-dispense>
        </mat-card-content>
     </mat-card>
  </span>
  <span *ngIf="medicationAdministrations.length > 0">
     <mat-card>
        <mat-card-content>
          <h3>Medication Administration</h3>
          <app-medication-administration  [medicationAdministrations]="medicationAdministrations"></app-medication-administration>
        </mat-card-content>
     </mat-card>
  </span>

