
<mat-card>
  <mat-card-content>
    This is a mock up of an Ambulance Screen. It's purpose is to explore the type of data captured during an Ambulance encounter.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3>(T)iming</h3>

    <mat-form-field flex="20">
      <input matInput flex=20 type="date" placeholder="Start Date" >

    </mat-form-field>
    <mat-form-field flex="20">
      <input matInput flex=20 type="time" placeholder="Start Time" >
    </mat-form-field>


  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
      <h3>(M)echanism of injury</h3>
    <td-dynamic-forms [elements]="mechanism">
      <ng-template let-element ngFor [ngForOf]="mechanism">
        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
      <span *ngIf="control.touched || !control.pristine">
        <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
        <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
      </span>
        </ng-template>
      </ng-template>
    </td-dynamic-forms>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3>(I)njuries</h3>
    <td-dynamic-forms [elements]="injuries">
      <ng-template let-element ngFor [ngForOf]="injuries">
        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
      <span *ngIf="control.touched || !control.pristine">
        <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
        <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
      </span>
        </ng-template>
      </ng-template>
    </td-dynamic-forms>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3>Vital (S)igns</h3>
    <td-dynamic-forms [elements]="news2">
      <ng-template let-element ngFor [ngForOf]="news2">
        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
      <span *ngIf="control.touched || !control.pristine">
        <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
        <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
      </span>
        </ng-template>
      </ng-template>
    </td-dynamic-forms>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3>(T)reatment</h3>
    <td-dynamic-forms [elements]="treatments">
      <ng-template let-element ngFor [ngForOf]="treatments">
        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
      <span *ngIf="control.touched || !control.pristine">
        <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
        <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
      </span>
        </ng-template>
      </ng-template>
    </td-dynamic-forms>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="assert">Update</button>
    <button mat-raised-button color="accent">Complete and Handover</button>
  </mat-card-actions>
</mat-card>