version: '2'

services:

  ccrisql:
    ports:
      - 43306:3306
    volumes:
      - /docker-data/ccri-mysql:/var/lib/mysql

  ccriserver:
    volumes:
      - /docker-data/ccri-tomcat-logs:/usr/local/tomcat/logs


  ccrifhir:
    volumes:
      - /docker-data/ccri-gateway-logs:/usr/local/tomcat/logs

  ccrismartonfhir:
    volumes:
    - /docker-data/ccri-gatewayssl-logs:/usr/local/tomcat/logs

  ccridocument:
     volumes:
       - /docker-data/ccri-document-logs:/usr/local/tomcat/logs

  ccriintegration:
    volumes:
      - /docker-data/ccri-integration-logs:/usr/local/tomcat/logs