<span *ngIf="careplan !== undefined">
<mat-card>
  <mat-card-content>
    <span *ngIf="careplan.category !== undefined && careplan.category.length > 0; else noid">
      <h3>{{careplan.category[0].coding[0].display}}</h3>
    </span>
    <ng-template #noid>
       <h3>End Of Life Care</h3>
    </ng-template>
   <!-- <h4>Addresses (Advanced Treatment Preference Problem)</h4>
          <span *ngIf="conditions.length>0; else noresults">
             <app-condition [conditions]="conditions"> </app-condition>
          </span>
          <ng-template #noresults>
             No results found.
          </ng-template>
-->
    <h4>Activity (Advanced Treatment Preferences)</h4>
    <span *ngFor="let activity of careplan.activity">
      <span *ngIf="activity.detail !==undefined">
        <mat-card>
          <mat-card-content>
        <span *ngIf="activity.detail.code !== undefined && activity.detail.code.coding !== undefined">
        {{activity.detail.code.coding[0].display}}
        </span>
        <p>{{activity.detail.status}}</p>
        <p>{{activity.detail.description}}</p>
            </mat-card-content>
          </mat-card>
      </span>
    </span>
     </mat-card-content>
  <mat-card-actions>
      <button mat-icon-button color="accent" placement="top" matTooltip="View FHIR resource" (click)="select(careplan)"><mat-icon>code</mat-icon>
        Care Plan</button>
  </mat-card-actions>
</mat-card>
  <mat-card>
    <mat-card-content>
      <span *ngIf="careTeam !== undefined && careTeam.length>0">
         <h4>Care Team / Contacts</h4>
        <span *ngFor="let team of careTeam">
          <app-care-team [careTeams]="careTeam"></app-care-team>
        </span>
      </span>
    </mat-card-content>
  </mat-card>
<mat-card>
  <mat-card-content>
      <h4>Questionnaire Responses</h4>
      <span *ngFor="let form of forms">

        <span *ngIf="form.item !== undefined">
          <mat-card>
            <mat-card-content>
               <span *ngIf="form.questionnaire !== undefined">
              <h4>{{form.questionnaire.display}}</h4>
            </span>
          <span *ngFor="let item of form.item">
              <p>
                  <i>{{item.text}}</i> &nbsp;
                  <b *ngIf="item.answer !== undefined && item.answer.length>0">
                      {{item.answer[0].valueString}}
                      <span *ngIf="item.answer[0].valueReference !== undefined">{{item.answer[0].valueReference.display}}</span>
                  </b>
              </p>
          </span>
              </mat-card-content>
            <mat-card-actions>
               <button mat-icon-button color="accent" placement="top"  matTooltip="View FHIR resource" (click)="select(form)"><mat-icon>code</mat-icon>
                 Questionnaire</button>
            </mat-card-actions>
            </mat-card>
          </span>
      </span>
     </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
        <h4>Alerts</h4>
          <span *ngIf="flags.length>0; else noflags">


              <app-flag [flags]="flags" ></app-flag>
          </span>
          <ng-template #noflags>
                                 No results found.
          </ng-template>
     </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
        <h4>Functional Status</h4>
          <span *ngIf="observations.length>0; else noresources">


              <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>
          </span>
          <ng-template #noresources>
                                 No results found.
          </ng-template>
  </mat-card-content>
</mat-card>
</span>
