<span *ngIf="careplan !== undefined">
<mat-card>
  <mat-card-content>
    <span *ngIf="careplan.category !== undefined && careplan.category.length > 0; else noid">
      <h3>{{careplan.category[0].coding[0].display}}</h3>
        <span *ngIf="careplan.period !== undefined">
        {{ careplan.period.start | date: 'dd-MMM-yyyy'}}
        </span>
    </span>
    <ng-template #noid>
       <h3>End Of Life Care</h3>
    </ng-template>
  </mat-card-content>
</mat-card>


    <!-- Flags -->

    <mat-card>
  <mat-card-content>
        <h4>Alerts</h4>
          <span *ngIf="flags.length>0; else noflags">


              <app-flag [flags]="flags" ></app-flag>
          </span>
          <ng-template #noflags>
                                 No results found.
          </ng-template>
     </mat-card-content>
</mat-card>



    <!-- Contacts -->

   <mat-card>
    <mat-card-content>
        <h4>Care Team / Contacts</h4>
      <span *ngIf="careTeam !== undefined && careTeam.length>0">
          <app-care-team [careTeams]="careTeam"></app-care-team>
      </span>
    </mat-card-content>
  </mat-card>

    <!-- CTP  -->

  <span *ngFor="let form of forms">

    <span *ngIf="form.item !== undefined && form.questionnaire.reference === 'Questionnaire/1'">
      <mat-card>
        <mat-card-content>
           <span *ngIf="form.questionnaire !== undefined">
              <h4>{{form.questionnaire.display}}</h4>
               {{ form.authored | date: 'dd-MMM-yyyy'}}
            </span>
            <app-questionnaire-response-item [form]="form"></app-questionnaire-response-item>
        </mat-card-content>
        <mat-card-actions>
           <button mat-icon-button color="accent" placement="top"  matTooltip="View FHIR resource" (click)="select(form)"><mat-icon>code</mat-icon>
             Questionnaire</button>
        </mat-card-actions>
        </mat-card>
      </span>
  </span>


    <mat-card>
        <mat-card-content>
    <h4>Activity (Advanced Treatment Preferences)</h4>
      <span *ngIf="activity !== undefined">
          <table mat-table [dataSource]="activity">
              <ng-container matColumnDef="activity">
                  <th mat-header-cell *matHeaderCellDef width="25%"> Activity </th>
                  <td mat-cell *matCellDef="let activity"> <span *ngIf="activity.detail !==undefined">
                                <span *ngIf="activity.detail.code !== undefined && activity.detail.code.coding !== undefined">
                                {{activity.detail.code.coding[0].display}}
                                </span>
                                </span> </td>
              </ng-container>
               <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef width="5%"> Status </th>
                  <td mat-cell *matCellDef="let activity">  <span *ngIf="activity.detail !==undefined">
                    {{activity.detail.status}}
                    </span> </td>
              </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let activity">   <span *ngIf="activity.detail !==undefined">
                    {{activity.detail.description}}
                    </span> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </span>
     </mat-card-content>
  <mat-card-actions>
      <button mat-icon-button color="accent" placement="top" matTooltip="View FHIR resource" (click)="select(careplan)"><mat-icon>code</mat-icon>
        Care Plan</button>
  </mat-card-actions>
</mat-card>



    <!-- Preferences -->

  <span *ngFor="let form of forms">

    <span *ngIf="form.item !== undefined && form.questionnaire.reference === 'Questionnaire/2'">
      <mat-card>
        <mat-card-content>
           <span *ngIf="form.questionnaire !== undefined">
              <h4>{{form.questionnaire.display}}</h4>
                   {{ form.authored | date: 'dd-MMM-yyyy'}}
            </span>
            <app-questionnaire-response-item [form]="form"></app-questionnaire-response-item>
        </mat-card-content>
        <mat-card-actions>
           <button mat-icon-button color="accent" placement="top"  matTooltip="View FHIR resource" (click)="select(form)"><mat-icon>code</mat-icon>
             Questionnaire</button>
        </mat-card-actions>
        </mat-card>
      </span>
  </span>

    <!-- Prognosis -->

<mat-card>
    <span *ngIf="prognosis.length >0">
        <mat-card>
            <mat-card-content>
                <h4>Prognosis</h4>
                <app-clinical-impression [clinicalImpressions]="prognosis"></app-clinical-impression>
            </mat-card-content>
        </mat-card>
    </span>
</mat-card>

    <!-- Lasting Power of Attorney -->

  <span *ngFor="let form of forms">

    <span *ngIf="form.item !== undefined && form.questionnaire.reference === 'Questionnaire/3'">
      <mat-card>
        <mat-card-content>
           <span *ngIf="form.questionnaire !== undefined">
              <h4>{{form.questionnaire.display}}</h4>
               {{ form.authored | date: 'dd-MMM-yyyy'}}
            </span>
            <app-questionnaire-response-item [form]="form"></app-questionnaire-response-item>
        </mat-card-content>
        <mat-card-actions>
           <button mat-icon-button color="accent" placement="top"  matTooltip="View FHIR resource" (click)="select(form)"><mat-icon>code</mat-icon>
             Questionnaire</button>
        </mat-card-actions>
        </mat-card>
      </span>
  </span>


<mat-card>
  <mat-card-content>
        <h4>Functional Status</h4>
          <span *ngIf="observations.length>0; else noresources">


              <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>
          </span>
          <ng-template #noresources>
                                 No results found.
          </ng-template>
  </mat-card-content>
</mat-card>
</span>
