<!-- Conditions -->


<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">

                         <mat-card>
                         <mat-card-content>
                        <div fxLayout="row"
                             fxFlexFill >
                            <h2>Conditions</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>
                             <span *ngIf="lhcreConditions.length>0">
                        <app-condition [conditions]="lhcreConditions"> </app-condition>
                                 </span>
                             <span *ngIf="lhcreConditions.length==0">
                                 No results found.
                             </span>
                         </mat-card-content>
                         </mat-card>

  </div>
</div>

<!-- National Documents -->

<!-- NRLS -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">

    <mat-card>
      <mat-card-content>
          <div fxLayout="row"
               fxFlexFill >
              <h2>Important Documents</h2>
              <span flex></span>
              <mat-chip-list><mat-chip [color]="nrlscolor" selected=true>NRLS</mat-chip></mat-chip-list>
          </div>

          <span *ngIf="nrlsdocuments.length>0">
              <app-document-reference [documents]="nrlsdocuments" (form)="onResoureSelected($event)"></app-document-reference>

        </span>

          <span *ngIf="nrlsdocuments.length==0">
                                 No results found.
              </span>
      </mat-card-content>
    </mat-card>

  </div>

</div>

<!-- GP Connect -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">

    <mat-card>
      <mat-card-content>
          <h2>Allergies and Intolerances</h2>
            <div fxLayout="row"
                 fxFlexFill >

                               <span flex></span>
                            <mat-chip-list><mat-chip [color]="gpcolor" selected=true>GP</mat-chip></mat-chip-list>
                        </div>
          <span *ngIf="gpallergies.length>0">
          <app-allergy-intolerance [allergies]="gpallergies"> </app-allergy-intolerance>
              </span>
          <span *ngIf="gpallergies.length==0">
                                 No results found.
              </span>
                           <div fxLayout="row"
                                fxFlexFill >
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>

                             <span *ngIf="lhcreAllergies.length>0">

                        <app-allergy-intolerance [allergies]="lhcreAllergies"> </app-allergy-intolerance>
                                  </span>
          <span *ngIf="lhcreAllergies.length==0">
                                 No results found.
              </span>
                             </mat-card-content>
                         </mat-card>

  </div>
</div>

<!-- Medication Statements -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">

    <mat-card>

      <mat-card-content>
          <h2>Medication Statement</h2>

             <div fxLayout="row"
                  fxFlexFill >

                               <span flex></span>
                            <mat-chip-list><mat-chip [color]="gpcolor" selected=true>GP</mat-chip></mat-chip-list>
                        </div>
                         <span *ngIf="gpMedicationStatement.length>0">
                                <app-medication-statement [medicationStatements]="gpMedicationStatement"> </app-medication-statement>
                        </span>
          <span *ngIf="gpMedicationStatement.length==0">
                                 No results found.
              </span>

                           <div fxLayout="row"
                                fxFlexFill >
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>
                             <span *ngIf="lhcreMedicationStatement.length>0">
                        <app-medication-statement [medicationStatements]="lhcreMedicationStatement"> </app-medication-statement>
                                 </span>
          <span *ngIf="lhcreMedicationStatement.length.length==0">
                                 No results found.
              </span>
                             </mat-card-content>
                         </mat-card>

  </div>
</div>
