<mat-menu #personMenu>
  <button *ngIf="!authService.isLoggedOn()" mat-menu-item routerLink="/login">Sign In</button>
  <button *ngIf="authService.isLoggedOn()" mat-menu-item routerLink="/logout">Sign Out</button>
    <button mat-menu-item (click)="role('tier1')">
    <span *ngIf="rbac === 'tier1';then othert1 else othert1e">
      <mat-icon>check</mat-icon>
    </span>
        <ng-template #othert1><mat-icon>check</mat-icon></ng-template>
        <ng-template #othert1e><mat-icon></mat-icon></ng-template>
        <span>Admin Role</span></button>
    <button mat-menu-item (click)="role('tier2')">
    <span *ngIf="rbac === 'tier2';then othert2 else othert2e">
      <mat-icon>check</mat-icon>
    </span>
        <ng-template #othert2><mat-icon>check</mat-icon></ng-template>
        <ng-template #othert2e><mat-icon></mat-icon></ng-template>
        <span>Paramedic Role</span></button>
    <button mat-menu-item (click)="role('tier3')">
    <span *ngIf="rbac === 'tier3';then othert3 else othert3e">
      <mat-icon>check</mat-icon>
    </span>
    <ng-template #othert3><mat-icon>check</mat-icon></ng-template>
    <ng-template #othert3e><mat-icon></mat-icon></ng-template>
    <span>Consultant Role</span></button>
</mat-menu>

<td-layout [class]="'theme-light'">
    <td-navigation-drawer flex sidenavTitle="Applications" >
        <mat-nav-list>
            <a *ngFor="let item of routes" mat-list-item (click)="onClick(item.route)"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>

        </mat-nav-list>

    </td-navigation-drawer>
    <td-layout-nav color="primary">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{title}}</span>
            <span flex></span>

          <!-- alert -->

          <span *ngIf="eprService.patientFlags.length >0">
            <button mat-icon-button matTooltip="Alerts" [matMenuTriggerFor]="notificationsMenu">
              <td-notification-count color="accent" [notifications]="eprService.patientFlags.length">
                <mat-icon>notifications</mat-icon>
              </td-notification-count>
            </button>
            <mat-menu #notificationsMenu="matMenu">
              <td-menu>
                <div td-menu-header class="mat-subhead">Alerts</div>
                <mat-nav-list dense>

                   <ng-template let-last="last" ngFor let-item [ngForOf]="eprService.patientFlags">
                    <a mat-list-item>
                      <mat-icon>warning</mat-icon>
                      <h4 mat-line>
                         <span *ngIf="item.code !== undefined && item.code.coding.length > 0">
                            {{item.code.coding[0].display}}
                         </span>

                      </h4>

                    </a>
                    <mat-divider *ngIf="!last"></mat-divider>
                  </ng-template>

                </mat-nav-list>

              </td-menu>
            </mat-menu>
      </span>
          <button mat-icon-button [matMenuTriggerFor]="personMenu"><mat-icon>person</mat-icon></button>
        </div>
        <router-outlet></router-outlet>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">Copyright &copy; 2019 NHS Digital. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>


