<mat-card>
  <mat-card-content>
      <div fxLayout="row"
           fxFlexFill >
        <!-- Left pane -->
        <div fxFlex="100" layout-margin="3%">
          <div>
          <span *ngIf="patient !== undefined">
            <div class="container" layout="row" layout-align="start center" flex>
              <span> &nbsp;  <b>{{ getLastName(patient)}}</b>{{getFirstName(patient)}}</span>
              <span flex ></span>

              &nbsp; <i>DOB:</i><b>&nbsp;{{patient.birthDate | date: 'dd-MMM-yyyy'}}</b>

              <span flex></span>
              <span>
                                   &nbsp;<i>Gender:</i><b>&nbsp; {{ patient.gender }}</b>
                                </span>
              <span flex></span>

              &nbsp;<i>NHS No:</i><b>&nbsp;{{ getNHSIdentifier(patient) }}</b>

            </div>
          </span>

          <div class="container" layout="row" layout-align="start center" flex>
                <span *ngFor="let diagnosis of encounter.diagnosis">
                    <h2>{{diagnosis.condition.display}}</h2> <!-- <i>({{diagnosis.verificationStatus}})</i>  not retrieving Condition -->
                </span>
                <span flex></span>
                  <span *ngIf="ambulanceLoc !== undefined && ambulanceLoc.telecom !== undefined">
                        <mat-icon>phone</mat-icon>
                            &nbsp;{{ambulanceLoc.telecom[0].value}} &nbsp;<mat-icon [matTooltip]="ambulanceLoc.name" >airport_shuttle</mat-icon>
                        <span flex></span>
                  </span>
              <span *ngIf="ambulanceLoc !== undefined && plannedLoc !== undefined" flex></span>
                  <span *ngIf="plannedLoc !== undefined && plannedLoc.telecom !== undefined">
                       <mat-icon>phone</mat-icon>&nbsp;{{plannedLoc.telecom[0].value}}&nbsp;
                      <span *ngIf="plannedLoc.type.coding[0].code === 'ETU' || plannedLoc.type.coding[0].code === 'ER'">
                                <mat-icon [matTooltip]="plannedLoc.name">local_hospital</mat-icon>
                       </span>
                      <span *ngIf="plannedLoc.type.coding[0].code == 'ACC'">
                        <mat-icon [matTooltip]="plannedLoc.name">person</mat-icon>
                      </span>


                   </span>
                 <span flex></span>
                <span>Incident Start <span *ngIf="encounter.period !== undefined"><b> {{encounter.period.start | date: 'HH:mm'}} </b></span></span>
                &nbsp; &nbsp;
                <span>
                    <span *ngIf="ambulanceLoc !== undefined">
                        <mat-icon [matTooltip]="ambulanceLoc.name">airport_shuttle</mat-icon>
                    </span>
                    <span *ngIf="ambulanceLoc === undefined">
                        <mat-icon color="warn">priority_high</mat-icon>
                    </span>
                    <!-- Status <b>{{encounter.status}}</b> -->
                    <span *ngIf="plannedLocStatus"><mat-icon [matTooltip]="'en route'">chevron_right</mat-icon></span>
                    <span *ngIf="!plannedLocStatus"><mat-icon [matTooltip]="'at location'">drag_handle</mat-icon> </span>
                    <span *ngIf="plannedLoc !== undefined">
                        <span *ngIf="plannedLoc.type.coding[0].code == 'ACC'">
                            <mat-icon [matTooltip]="plannedLoc.name">person</mat-icon>
                        </span>
                         <span *ngIf="plannedLoc.type.coding[0].code === 'ETU' || plannedLoc.type.coding[0].code === 'ER'">
                            <mat-icon [matTooltip]="plannedLoc.name">local_hospital</mat-icon>
                        </span>
                    </span>
                </span>
          </div>

              <mat-chip-list>
                  <span *ngIf="news2 !== undefined"><mat-chip [color]="getColour(news2)" [selected]="getSelected(news2)"><mat-icon>warning</mat-icon> NEWS2 - {{getValue(news2)}}</mat-chip></span>
                  <span *ngIf="heart!==undefined"><mat-chip  [color]="getColour(heart)" [selected]="getSelected(heart)">Pulse - {{getValue(heart)}}</mat-chip></span>
                  <span *ngIf="temp!==undefined"><mat-chip [color]="getColour(temp)" [selected]="getSelected(temp)">Temp - {{getValue(temp)}}</mat-chip></span>
                  <span *ngIf="temp!==undefined"><mat-chip [color]="getColour(resp)" [selected]="getSelected(resp)">Resp - {{getValue(resp)}}</mat-chip></span>
                  <span *ngIf="bp !== undefined"><mat-chip [color]="getColour(bp)" [selected]="getSelected(bp)">BP - {{getValue(bp)}}</mat-chip></span>
                  <span *ngIf="o2 !==undefined"><mat-chip [color]="getColour(o2)" [selected]="getSelected(o2)">O2 - {{getValue(o2)}}%</mat-chip></span>
                  <span *ngIf="air !== undefined"><mat-chip [color]="getColour(air)" [selected]="getSelected(air)">Air - {{getValue(air)}}</mat-chip></span>

                  <span *ngIf="alert2 !== undefined"><mat-chip [color]="getColour(alert2)" [selected]="getSelected(alert2)">Alert - {{getValue(alert2)}}</mat-chip></span>

              </mat-chip-list>
        <!--  <td-expansion-panel disableRipple>
              <ng-template td-expansion-panel-label>
                <span>Encounter Details</span>
              </ng-template>
              <span *ngIf="encounters.length>0">
                <app-encounter [encounters]="encounters"></app-encounter>
              </span>

          </td-expansion-panel> -->
          <span *ngIf="flags !== undefined">
            <span *ngFor="let flag of flags">
                <span *ngIf="flag.code !== undefined && flag.code.coding !== undefined">
                  <td-message #messageDemo color="info" [label]="flag.code.coding[0].display" icon="warning" >
                    <button td-message-actions mat-icon-button (click)="messageDemo.close()"><mat-icon>cancel</mat-icon></button>
                  </td-message>
                </span>
          </span>
          </span>
            <button mat-button color="accent" fxFlexAlign="end" (click)="viewDetails(patient)">Patient Record</button>
          </div>
        </div>

      </div>
  </mat-card-content>
 <!-- <mat-card-actions>

  </mat-card-actions> -->
</mat-card>
