<td-layout [class]="'theme-light'">
    <td-navigation-drawer flex sidenavTitle="Applications" >
        <mat-nav-list>
            <a *ngFor="let item of routes" mat-list-item (click)="onClick(item.route)"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
            <a *ngFor="let item of routesExt" mat-list-item href="{{item.route}}"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </mat-nav-list>

    </td-navigation-drawer>
    <td-layout-nav color="primary">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{title}}</span>
            <span flex></span>
        </div>
        <router-outlet></router-outlet>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">Copyright &copy; 2018 NHS Digital. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout-nav>
</td-layout>


