<mat-card>

    <mat-card-title>
        {{section.title}}
    </mat-card-title>


    <mat-card-content>

        <div [innerHTML]="section.text.div"></div>

        <span *ngIf="section.entry != undefined && showStructured">

              <span *ngIf="allergies.length>0">
                  <mat-card>
                      <mat-card-title>Allergy Intolerance</mat-card-title>
                      <mat-card-content>
                         <app-allergy-intolerance [allergies]="allergies" (allergy)="onResoureSelected($event)"></app-allergy-intolerance>
                      </mat-card-content>
                  </mat-card>

              </span>
              <span *ngIf="conditions.length>0">
                  <mat-card>
                      <mat-card-title>Conditions</mat-card-title>
                      <mat-card-content>
                        <app-condition [conditions]="conditions" [useBundle]="true" (condition)="onResoureSelected($event)"></app-condition>
                      </mat-card-content>
                  </mat-card>


              </span>
                <span *ngIf="consents.length>0">
                    <mat-card>
                      <mat-card-title>Consent</mat-card-title>
                      <mat-card-content>
                        <app-consent [consents]="consents" [useBundle]="true" (consent)="onResoureSelected($event)"></app-consent>
                      </mat-card-content>
                  </mat-card>


              </span>
                <span *ngIf="carePlans.length>0">
                    <mat-card>
                      <mat-card-title>Care Plans</mat-card-title>
                      <mat-card-content>
                           <app-care-plan [carePlans]="carePlans" [useBundle]="true" (carePlan)="onResoureSelected($event)"></app-care-plan>
                      </mat-card-content>
                  </mat-card>


              </span>
                <span *ngIf="impressions.length>0">
                    <mat-card>
                      <mat-card-title>Clinical Impression</mat-card-title>
                      <mat-card-content>
                           <app-clinical-impression [clinicalImpressions]="impressions" [useBundle]="true" (clinicalImpressions)="onResoureSelected($event)"></app-clinical-impression>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="patients.length>0">
                  <mat-card>
                      <mat-card-title>Patient</mat-card-title>
                      <mat-card-content>
                        <app-patient [patients]="patients" (patient)="onResoureSelected($event)"></app-patient>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="practitioners.length>0">
                  <mat-card>
                      <mat-card-title>Practitioner</mat-card-title>
                      <mat-card-content>
                         <app-practitioner [practitioners]="practitioners" [useBundle]="true" (practitioner)="onResoureSelected($event)"></app-practitioner>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="organisations.length>0">
                  <mat-card>
                      <mat-card-title>Organisation</mat-card-title>
                      <mat-card-content>
                        <app-organisation [organisations]="organisations" (organisation)="onResoureSelected($event)"></app-organisation>
                      </mat-card-content>
                  </mat-card>
              </span>
              <span *ngIf="observations.length>0">
                  <mat-card>
                      <mat-card-title>Observations</mat-card-title>
                      <mat-card-content>
                        <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>

                      </mat-card-content>
                  </mat-card>

              </span>

              <span *ngIf="encounters.length>0">
                  <mat-card>
                      <mat-card-title>Encounter</mat-card-title>
                      <mat-card-content>
                          <app-encounter [encounters]="encounters" [useBundle]="true" (encounter)="onResoureSelected($event)"></app-encounter>
                      </mat-card-content>
                  </mat-card>
              </span>
              <span *ngIf="medicationStatements.length>0">
                  <mat-card>
                      <mat-card-title>Medication Statement</mat-card-title>
                      <mat-card-content>
                         <app-medication-statement [medicationStatements]="medicationStatements" (medicationStatement)="onResoureSelected($event)"></app-medication-statement>
                      </mat-card-content>
                  </mat-card>

              </span>
              <span *ngIf="medicationDispenses.length>0">
                  <mat-card>
                      <mat-card-title>Medication Dispense</mat-card-title>
                      <mat-card-content>
                        <app-medication-dispense [medicationDispenses]="medicationDispenses" (medicationDispense)="onResoureSelected($event)"></app-medication-dispense>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="procedures.length>0">
                  <mat-card>
                      <mat-card-title>Procedure</mat-card-title>
                      <mat-card-content>
                         <app-procedure [procedures]="procedures" [useBundle]="true" (procedure)="onResoureSelected($event)"></app-procedure>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="medications.length > 0">
                  <mat-card>
                      <mat-card-title>Medications</mat-card-title>
                      <mat-card-content>
                         <app-medication [medications]="medications" (medication)="onResoureSelected($event)"></app-medication>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="prescriptions.length>0">
                  <mat-card>
                      <mat-card-title>Prescriptions (Medication Request)</mat-card-title>
                      <mat-card-content>
                        <app-medication-request [medicationRequests]="prescriptions" (medicationRequest)="onResoureSelected($event)"></app-medication-request>
                      </mat-card-content>
                  </mat-card>


              </span>
                <span *ngIf="immunisations.length>0">
                    <mat-card>
                      <mat-card-title>Immunisations</mat-card-title>
                      <mat-card-content>
                         <app-immunisation [immunisations]="immunisations" (immunisation)="onResoureSelected($event)"></app-immunisation>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="roles.length>0">
                  <mat-card>
                      <mat-card-title>Practitioner Role</mat-card-title>
                      <mat-card-content>
                          <app-practitioner-role [roles]="roles" (practitionerRole)="onResoureSelected($event)"></app-practitioner-role>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="services.length>0">
                  <mat-card>
                      <mat-card-title>Healthcare Service</mat-card-title>
                      <mat-card-content>
                        <app-healthcare-service [services]="services" (healthcareService)="onResoureSelected($event)"></app-healthcare-service>
                      </mat-card-content>
                  </mat-card>


              </span>
              <span *ngIf="forms.length>0">
                  <mat-card>
                      <mat-card-title>Questionnaire Response</mat-card-title>
                      <mat-card-content>
                        <app-questionnaire-response [forms]="forms" (form)="onResoureSelected($event)"></app-questionnaire-response>
                      </mat-card-content>
                  </mat-card>


              </span>
                <span *ngIf="goals.length>0">
                    <mat-card>
                      <mat-card-title>Care Goals</mat-card-title>
                      <mat-card-content>
                         <app-goal [goals]="goals" (form)="onResoureSelected($event)"></app-goal>
                      </mat-card-content>
                  </mat-card>


              </span>
                <span *ngIf="risks.length>0">
                    <mat-card>
                      <mat-card-title>Risk Assessment</mat-card-title>
                      <mat-card-content>
                          <app-risk-assessment [risks]="risks" (form)="onResoureSelected($event)"></app-risk-assessment>
                      </mat-card-content>
                  </mat-card>


              </span>

        </span>

  </mat-card-content>
    <mat-card-actions>
        <button mat-button placement="top" (click)="select(section)"  color="accent"><mat-icon>code</mat-icon>
            Section</button>
        <button mat-button *ngIf="section.entry != undefined" placement="top" (click)="open()" color="accent">
            <mat-icon *ngIf="!showStructured">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="showStructured">arrow_drop_up</mat-icon>
            Structured Content</button>
        <button mat-button *ngIf="section.entry == undefined" disabled="true"  placement="top" color="accent">
            No Structured Content</button>
    </mat-card-actions>

</mat-card>

