<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content #chart >
    <!-- <td-chart [style.height.px]="300">
        <td-chart-tooltip [trigger]="'item'"
                          [textStyle]="{ color: '#818181' }"
                          [backgroundColor]="'#ffffff'">
            <ng-template let-params let-ticket="ticket" tdTooltipFormatter>
                <ng-container *ngIf="params">
                    <div layout="row" layout-align="start center">
          <span class="mat-caption pad-left-sm">
            {{params.seriesName + ': ' + params.value}}
          </span>
                    </div>
                </ng-container>
            </ng-template>
        </td-chart-tooltip>
        <td-chart-x-axis [show]="true"
                         [type]="'time'">
        </td-chart-x-axis>
        <td-chart-y-axis [show]="true"
                         [type]="'value'">
        </td-chart-y-axis>
        <td-chart-series td-line
                         [name]="'name'"
                         [data]="[{
                'name': '2018-10-29T03:27:33.932Z',
                'value': [
                  '2018-10-29T03:27:33.932Z',
                  200
                ]
              }, {
                'name': '2018-10-30T03:27:33.932Z',
                'value': [
                  '2018-10-30T03:27:33.932Z',
                  50
                ]
              },{
                'name': '2018-10-31T03:27:33.932Z',
                'value': [
                  '2018-10-31T03:27:33.932Z',
                  100
                ]
              }]"
                         [color]="'#F2724B'">
        </td-chart-series>
    </td-chart> -->
    <mat-grid-list cols="1" rowHeight="3:1">
        <mat-grid-tile>
            <ngx-charts-line-chart
                    [scheme]="colorScheme"
                    [results]="multi"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale"
                    [timeline]="timeline"
                    [animations]="animations"
                    [yAxisTickFormatting]="axisDigits">
            </ngx-charts-line-chart>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>




