<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let immunisation"> {{immunisation.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let immunisation"> {{immunisation.date | date: 'dd-MMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="procedure">
      <th mat-header-cell *matHeaderCellDef> Procedure </th>
      <td mat-cell *matCellDef="let immunisation">
        <span *ngFor="let extension of immunisation.extension">
           <span *ngIf="extension.url == 'https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-CareConnect-VaccinationProcedure-1'">
                 {{extension.valueCodeableConcept.coding[0].display}}
            </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let immunisation"> TODO </td>
    </ng-container>



    <ng-container matColumnDef="batch">
      <th mat-header-cell *matHeaderCellDef> Batch No. </th>
      <td mat-cell *matCellDef="let immunisation"> {{ immunisation.lotNumber }} </td>
    </ng-container>

 <!--   Vaccine product
    Vaccine procedure

    Serialisation code

    Remove dose sequence


    -->
    <ng-container matColumnDef="practitionerRole">
      <th mat-header-cell *matHeaderCellDef > Role. </th>
      <td mat-cell *matCellDef="let immunisation">
        <span *ngIf="immunisation.practitioner != undefined && immunisation.practitioner[0].role != undefined">
          {{ immunisation.practitioner[0].role.coding[0].display }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="practitioner">
      <th mat-header-cell *matHeaderCellDef width="5%"> Admin. </th>
      <td mat-cell *matCellDef="let immunisation">
        <span *ngIf="immunisation.practitioner != undefined">
          <button mat-icon-button color="accent"  matTooltip="View Administered by" (click)="showPractitioner(immunisation)"><mat-icon>person</mat-icon></button>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef width="5%"> Manu. </th>
      <td mat-cell *matCellDef="let immunisation">
        <span *ngIf="immunisation.manufacturer != undefined">
          <button mat-icon-button color="accent"  matTooltip="View Manufacturer" (click)="showOrganisation(immunisation)"><mat-icon>account_balance</mat-icon></button>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="dose">
      <th mat-header-cell *matHeaderCellDef> Dose </th>
      <td mat-cell *matCellDef="let immunisation"> {{ immunisation.doseQuantity }} </td>
    </ng-container>

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef> Expire </th>
      <td mat-cell *matCellDef="let immunisation"> {{immunisation.expirationDate | date: 'dd-MMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef> Site </th>
      <td mat-cell *matCellDef="let immunisation">
        <span *ngIf="immunisation.site != undefined" >
          {{immunisation.site.coding[0].display}}
        </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="route">
      <th mat-header-cell *matHeaderCellDef> Route </th>
      <td mat-cell *matCellDef="let immunisation">
         <span *ngIf="immunisation.route != undefined" >
           {{immunisation.route.coding[0].display}}
         </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="indication">
      <th mat-header-cell *matHeaderCellDef> Indication </th>
      <td mat-cell *matCellDef="let immunisation">
        <span *ngIf="immunisation.explanation != undefined && immunisation.explanation.reason.length > 0" >
          {{immunisation.explanation.reason[0].coding[0].display}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="indicationlink">
      <th mat-header-cell *matHeaderCellDef width="5%"> </th>
      <td mat-cell *matCellDef="let immunisation">
      <span *ngIf="immunisation.explanation != undefined && immunisation.explanation.reason.length > 0" >
        <span *ngIf="isSNOMED(immunisation.explanation.reason[0].coding[0].system)">
          <button mat-icon-button color="accent" matTooltip="{{getCodeSystem(immunisation.explanation.reason[0].coding[0].system)}} {{immunisation.explanation.reason[0].coding[0].code}}" (click)="getSNOMEDLink(immunisation.explanation.reason[0].coding[0])">
              <mat-icon>book</mat-icon>
          </button>
        </span>
         <span *ngIf="!isSNOMED(immunisation.explanation.reason[0].coding[0].system)">
              <mat-icon matTooltip="{{getCodeSystem(immunisation.explanation.reason[0].coding[0].system)}} {{immunisation.explanation.reason[0].coding[0].code}}">book_outline</mat-icon>
        </span>
      </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Immunisation </th>
      <td mat-cell *matCellDef="let immunisation"> <b>{{immunisation.vaccineCode.coding[0].display}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="codelink">
      <th mat-header-cell *matHeaderCellDef width="5%"> </th>
      <td mat-cell *matCellDef="let immunisation">
      <span *ngIf="immunisation.vaccineCode.coding[0].code != undefined" >
        <span *ngIf="isSNOMED(immunisation.vaccineCode.coding[0].system)">
          <button mat-icon-button color="accent" matTooltip="{{getCodeSystem(immunisation.vaccineCode.coding[0].system)}} {{immunisation.vaccineCode.coding[0].code}}" (click)="getSNOMEDLink(immunisation.vaccineCode.coding[0])">
              <mat-icon>book</mat-icon>
          </button>
        </span>
         <span *ngIf="!isSNOMED(immunisation.vaccineCode.coding[0].system)">
              <mat-icon matTooltip="{{getCodeSystem(immunisation.vaccineCode.coding[0].system)}} {{immunisation.vaccineCode.coding[0].code}}">book_outline</mat-icon>
        </span>
      </span>
      </td>
    </ng-container>



    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let immunisation"><b>{{immunisation.status}}</b></td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef width="5%"> Detail </th>
      <td mat-cell *matCellDef="let immunisation">
        <button mat-icon-button color="accent"  matTooltip="View Details" (click)="more(immunisation)"><mat-icon>more_horiz</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let immunisation">  <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(immunisation)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
