<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let medicationAdministration"> {{medicationAdministration.id}} </td>
    </ng-container>

    <ng-container matColumnDef="effective">
      <th mat-header-cell *matHeaderCellDef  width="10%"> Effective </th>
      <td mat-cell *matCellDef="let medicationAdministration">  {{medicationAdministration.effectiveDateTime | date: 'dd-MMM-yyyy HH:mm'}} </td>
    </ng-container>




    <ng-container matColumnDef="medication">
      <th mat-header-cell *matHeaderCellDef  width="20%"> Medication </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.medicationCodeableConcept !=undefined" >
          <b *ngIf="medicationAdministration.medicationCodeableConcept !=undefined">{{medicationAdministration.medicationCodeableConcept.coding[0].display}}</b>

        </span>
        <span *ngIf="medicationAdministration.medicationReference !=undefined">

            <b>{{medicationAdministration.medicationReference.display}}</b>

        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="medicationlink">
      <th mat-header-cell *matHeaderCellDef width="5%"> </th>
      <td mat-cell *matCellDef="let medicationAdministration">

          <span *ngIf="medicationAdministration.medicationCodeableConcept !=undefined" >
            <span *ngIf="isSNOMED(medicationAdministration.medicationCodeableConcept.coding[0].system)">
              <button mat-icon-button color="accent" matTooltip="{{getCodeSystem(medicationAdministration.medicationCodeableConcept.coding[0].system)}} {{medicationAdministration.medicationCodeableConcept.coding[0].code}}" (click)="getSNOMEDLink(medicationAdministration.medicationCodeableConcept.coding[0])">
                  <mat-icon>book</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="{{getCodeSystem(medicationAdministration.medicationCodeableConcept.coding[0].system)}} {{medicationAdministration.medicationCodeableConcept.coding[0].code}}" (click)="getDMDLink(medicationAdministration.medicationCodeableConcept.coding[0])">
                  <mat-icon>turned_in</mat-icon>
              </button>
            </span>

          </span>
        <span *ngIf="medicationAdministration.medicationReference !=undefined">

              <button mat-icon-button color="accent" (click)="onClick( medicationAdministration)">
                  <mat-icon>colorize</mat-icon>
              </button>

          </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="dose">
    <th mat-header-cell *matHeaderCellDef width="5%"> Dose </th>
    <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.dosage !== undefined">
            <p *ngIf="medicationAdministration.dosage.dose!==undefined">{{medicationAdministration.dosage.dose.value}} {{medicationAdministration.dosage.dose.unit}}</p>

            <p *ngIf="medicationAdministration.dosage.text !== undefined">{{medicationAdministration.dosage.text}}</p>
        </span>
    </td>
  </ng-container>

    <ng-container matColumnDef="route">
      <th mat-header-cell *matHeaderCellDef width="5%"> Route </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.dosage !== undefined">

            <span *ngIf="medicationAdministration.dosage.route !==undefined">{{medicationAdministration.dosage.route.coding[0].display}}</span>

        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="routelink">
      <th mat-header-cell *matHeaderCellDef width="5%"> </th>
      <td mat-cell *matCellDef="let medicationAdministration">
            <span *ngIf="medicationAdministration.dosage.route!=undefined && medicationAdministration.dosage.route.coding.length>0" >
               <button mat-icon-button color="accent" matTooltip="{{getCodeSystem(medicationAdministration.dosage.route.coding[0].system)}} {{medicationAdministration.dosage.route.coding[0].code}}" (click)="getSNOMEDLink(medicationAdministration.dosage.route.coding[0])">
                  <mat-icon>book</mat-icon>
              </button>
            </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="form">
      <th mat-header-cell *matHeaderCellDef width="5%"> Form </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngFor="let dosage of medicationAdministration.dosageInstruction">
            <span *ngIf="dosage.maxDosePerPeriod !== undefined" >
              <span  > {{dosage.maxDosePerPeriod.numerator.value}} {{dosage.maxDosePerPeriod.numerator.unit}} </span>
            </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef width="5%"> Quantity </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.daysSupply !== undefined && medicationAdministration.daysSupply.value">{{medicationAdministration.daysSupply.value}} {{medicationAdministration.daysSupply.unit}}</span>
        <span *ngIf="medicationAdministration.quantity !== undefined && medicationAdministration.quantity.value !== undefined">{{medicationAdministration.quantity.value}} {{medicationAdministration.quantity.unit}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="instructions">
      <th mat-header-cell *matHeaderCellDef width="10%"> Instructions </th>
      <td mat-cell *matCellDef="let medicationAdministration">
           <span *ngIf="medicationAdministration.note !== null">
            <p *ngFor="let annotation of medicationAdministration.note">{{annotation.text}}</p>
            </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef width="5%"> Status </th>
      <td mat-cell *matCellDef="let medicationAdministration"> <b>{{medicationAdministration.status}}</b> </td>
    </ng-container>


    <ng-container matColumnDef="practitioner">
      <th mat-header-cell *matHeaderCellDef width="5%"> Performer </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.performer !== undefined && medicationAdministration.performer.length > 0">
          <span *ngIf="medicationAdministration.performer[0].actor !== undefined">
            <button mat-icon-button color="accent"  matTooltip="View Pharmacist" (click)="showPractitioner(medicationAdministration)"><mat-icon>person</mat-icon></button>
          </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="organisation">
      <th mat-header-cell *matHeaderCellDef width="5%"> Org </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.performer !== undefined && medicationAdministration.performer.length > 0">
          <span *ngIf="medicationAdministration.performer[0].onBehalfOf !== undefined">
            <button mat-icon-button color="accent"  matTooltip="View Pharmacy" (click)="showOrganisation(medicationAdministration)"><mat-icon>account_balance</mat-icon></button>
          </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="visit">
      <th mat-header-cell *matHeaderCellDef width="5%"> Visit </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <span *ngIf="medicationAdministration.context !== undefined">
          <button mat-icon-button color="accent"  matTooltip="View Encounter" (click)="viewEncounter(medicationAdministration)"><mat-icon>today</mat-icon></button>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%"> FHIR </th>
      <td mat-cell *matCellDef="let medicationAdministration">
        <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(medicationAdministration)"><mat-icon>code</mat-icon></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

