<span *ngIf="!getDisabledValue()">
    <h2 mat-dialog-title>Register SMART on FHIR App</h2>
</span>
<span *ngIf="getDisabledValue()">
    <h2 mat-dialog-title>Edit SMART on FHIR App Endpoint</h2>
</span>

<mat-dialog-content>
  <span *ngIf="!getDisabledValue()">
        <form [formGroup]="registerForm"  class="example-container" >
            <mat-form-field >
                <input matInput placeholder="App Name" name="appName" formControlName="appName" value="{{appName}}">
            </mat-form-field>
            <div *ngIf="registerForm.controls['appName'].errors && registerForm.controls['appName'].touched">
                <mat-error *ngIf="registerForm.controls['appName'].hasError('required')">
                    Application name is <strong>required</strong>
                </mat-error>
            </div>
            <mat-form-field>
                <input matInput type="url" placeholder="App Launch URI" formControlName="appLaunch" value="{{appLaunch}}">
            </mat-form-field>
            <div *ngIf="registerForm.controls['appLaunch'].errors && registerForm.controls['appLaunch'].touched">
                <mat-error *ngIf="registerForm.controls['appLaunch'].hasError('required')">
                    Application Launch url is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['appLaunch'].hasError('pattern')">
                    Valid url is <strong>required</strong>
                </mat-error>
            </div>

                <mat-form-field >
                    <textarea [disabled]="getDisabledValue()" matInput type="url" placeholder="App Redirect URIs" formControlName="appRedirect" value="{{appRedirect}}"></textarea>
                </mat-form-field>
                <div *ngIf="registerForm.controls['appRedirect'].errors && registerForm.controls['appRedirect'].touched">
                    <mat-error *ngIf="registerForm.controls['appRedirect'].hasError('required')">
                        Application Redirect Url is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['appRedirect'].hasError('pattern')">
                        Valid url is <strong>required</strong>
                    </mat-error>
                </div>
                Note: If you provide one or more redirect URIs, your client code must send one of the provided values when performing OAuth2 authorization or you will receive an "Invalid redirect" error.
                <br>
                <mat-form-field >
                    <input matInput type="url" placeholder="Logo URI" [disabled]="getDisabledValue()" formControlName="appLogo" value="{{appLogo}}">
                </mat-form-field>
                <div *ngIf="registerForm.controls['appLogo'].errors && registerForm.controls['appLogo'].touched">
                    <mat-error *ngIf="registerForm.controls['appLaunch'].hasError('pattern')">
                        Valid url is <strong>required</strong>
                    </mat-error>
                </div>
                <mat-form-field disabled="edit">
                    <textarea matInput placeholder="Supplier Name/ Contact Information" [disabled]="getDisabledValue()" formControlName="appSupplier" value="{{appSupplier}}"></textarea>
                </mat-form-field>
                <div *ngIf="registerForm.controls['appSupplier'].errors && registerForm.controls['appRedirect'].touched">
                    <mat-error *ngIf="registerForm.controls['appSupplier'].hasError('required')">
                        Supplier name or contact details is <strong>required</strong>
                    </mat-error>
                </div>
            <!--
            <td-file-upload #singleFileUpload formContolName="files" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
                <mat-icon>file_upload</mat-icon><span>{{ singleFileUpload.value?.name }}</span>
                <ng-template td-file-input-label>
                    <mat-icon>attach_file</mat-icon>
                    <span>
          Choose a file...
          <span [hidden]="!singleFileUpload?.required">*</span>
                    </span>
                </ng-template>
            </td-file-upload> -->
            <br>

        </form>
      </span>

    <span *ngIf="getDisabledValue()">
        <form [formGroup]="registerForm"  class="example-container" >
            <mat-form-field >
                <input matInput placeholder="App Name" name="appName" formControlName="appName" value="{{appName}}">
            </mat-form-field>
            <div *ngIf="registerForm.controls['appName'].errors && registerForm.controls['appName'].touched">
                <mat-error *ngIf="registerForm.controls['appName'].hasError('required')">
                    Application name is <strong>required</strong>
                </mat-error>
            </div>
            <mat-form-field>
                <input matInput type="url" placeholder="App Launch URI" formControlName="appLaunch" value="{{appLaunch}}">
            </mat-form-field>
            <div *ngIf="registerForm.controls['appLaunch'].errors && registerForm.controls['appLaunch'].touched">
                <mat-error *ngIf="registerForm.controls['appLaunch'].hasError('required')">
                    Application Launch url is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['appLaunch'].hasError('pattern')">
                    Valid url is <strong>required</strong>
                </mat-error>
            </div>

            <br>

        </form>
    </span>

  <!--  <p>Form value: {{ registerForm.value | json }}</p> -->

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button [disabled]="registerForm.invalid" (click)="registerApp()">Ok</button>
</mat-dialog-actions>
