<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="15" layout-margin="3%">
    <mat-card>
      <mat-card-title>
        Available Response Vehicles
      </mat-card-title>
      <mat-card-content>
        <mat-card>

          <mat-card-content>
            <h3>
              Seacroft AS
            </h3>
            <mat-list dense>
              <mat-list-item> Ambulance: Torch </mat-list-item>
              <mat-list-item> Ambulance: Garden </mat-list-item>
              <mat-list-item> RRV </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card>

          <mat-card-content>
            <h3>
              Castleford AS
            </h3>
            <mat-list dense>
              <mat-list-item> Ambulance: Market </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

  </div>
  <!-- Left pane -->
  <div fxFlex="60" layout-margin="3%">
    <span *ngIf="coords !== undefined">
        <ngui-map class="map" zoom="11"
                  [center]="coords"
                  (mapReady$)="onMapReady($event)"
                  (mapClick)="onMapClick($event)"
                  (idle)="onIdle($event)">
           <traffic-layer></traffic-layer>
         <marker *ngFor="let pos of positions" [position]="pos.location" [title]="pos.title">
         </marker>
        </ngui-map>
      </span>
  </div>
  <div fxFlex="25" layout-margin="3%">
    <mat-card>
      <mat-card-title>
        LTH - St James Hospital ED
      </mat-card-title>
      <mat-card-content>
          Show current capacity: ED occupancy, available acute beds, 'walk in' load, etc.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Mid Yorks - Pinderfields ED
      </mat-card-title>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip><mat-icon>access_time</mat-icon> (Max): 1 hr 20</mat-chip>
          <mat-chip><mat-icon>people_outline</mat-icon>Wait: 14</mat-chip>
          <mat-chip><mat-icon>people</mat-icon>Total: 36</mat-chip>
          <mat-chip><mat-icon color="warn">local_hotel</mat-icon> 2/20</mat-chip>
        </mat-chip-list>

      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Mid Yorks - Pontefract UTC
      </mat-card-title>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip><mat-icon>access_time</mat-icon> (Max): 1 hr 06</mat-chip>
          <mat-chip><mat-icon>people_outline</mat-icon>Wait: 5</mat-chip>
          <mat-chip><mat-icon>people</mat-icon>Total: 16</mat-chip>
          <mat-chip><mat-icon>local_hotel</mat-icon> 3/5</mat-chip>
        </mat-chip-list>

      </mat-card-content>
    </mat-card>
  </div>
</div>
