.map {
  height: 600px
}

.custom-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:blue;
  border: 2px solid white;
  color:white;
  font-size:20px;
  text-align:center;
}
