<mat-card>
    <mat-card-content>
        <h3>Patient Summary</h3>
    </mat-card-content>
</mat-card>
<!-- Conditions -->

     <mat-card>
     <mat-card-content>
    <div fxLayout="row"
         fxFlexFill >
        <h3>Conditions</h3>
           <span flex></span>
        <mat-chip-list><mat-chip [color]="acutecolor" selected=true>Acute</mat-chip></mat-chip-list>
    </div>
         <span *ngIf="lhcreConditions.length>0">
    <app-condition [conditions]="lhcreConditions" (encounter)="selectEncounter($event)"> </app-condition>
             </span>
         <span *ngIf="lhcreConditions.length==0">
             No results found.
         </span>
     </mat-card-content>
     </mat-card>

<!-- Care Plans -->
<mat-card>
  <mat-card-content>
    <div fxLayout="row"
         fxFlexFill >
      <h3>Care Plan</h3>
      <span flex></span>
      <mat-chip-list><mat-chip [color]="acutecolor" selected=true>Acute</mat-chip></mat-chip-list>
    </div>
    <span *ngIf="careplans.length>0">
        <app-care-plan [carePlans]="careplans" (carePlan)="selectCarePlan($event)"> </app-care-plan>
    </span>
    <span *ngIf="careplans.length==0">
             No results found.
         </span>
  </mat-card-content>
</mat-card>

<!-- National Documents -->

<!-- NRLS -->

    <mat-card>
      <mat-card-content>
          <div fxLayout="row"
               fxFlexFill >
              <h3>Important Documents</h3>
              <span flex></span>
              <mat-chip-list><mat-chip [color]="nrlscolor" selected=true>NRLS</mat-chip></mat-chip-list>
          </div>

          <span *ngIf="nrlsdocuments.length>0">
              <app-document-reference [documents]="nrlsdocuments" (form)="onResoureSelected($event)"></app-document-reference>

        </span>

          <span *ngIf="nrlsdocuments.length==0">
                                 No results found.
              </span>
      </mat-card-content>
    </mat-card>



<!-- GP Connect -->


    <mat-card>
      <mat-card-content>
          <h3>Allergies and Intolerances</h3>
            <div fxLayout="row"
                 fxFlexFill >

                               <span flex></span>
                            <mat-chip-list><mat-chip [color]="gpcolor" selected=true>GP</mat-chip></mat-chip-list>
                        </div>
          <span *ngIf="gpallergies.length>0">
          <app-allergy-intolerance [allergies]="gpallergies"> </app-allergy-intolerance>
              </span>
          <span *ngIf="gpallergies.length==0">
                                 No results found.
              </span>
                           <div fxLayout="row"
                                fxFlexFill >
                               <span flex></span>
                            <mat-chip-list><mat-chip [color]="acutecolor" selected=true>Acute</mat-chip></mat-chip-list>
                        </div>

                             <span *ngIf="lhcreAllergies.length>0">

                        <app-allergy-intolerance [allergies]="lhcreAllergies"> </app-allergy-intolerance>
                                  </span>
          <span *ngIf="lhcreAllergies.length==0">
                                 No results found.
              </span>
                             </mat-card-content>
                         </mat-card>


<!-- Medication Statements -->


    <mat-card>

      <mat-card-content>
          <h3>Medication Statement</h3>

             <div fxLayout="row"
                  fxFlexFill >

                               <span flex></span>
                            <mat-chip-list><mat-chip [color]="gpcolor" selected=true>GP</mat-chip></mat-chip-list>
                        </div>
                         <span *ngIf="gpMedicationStatement.length>0">
                                <app-medication-statement [medicationStatements]="gpMedicationStatement"> </app-medication-statement>
                        </span>
          <span *ngIf="gpMedicationStatement.length==0">
                                 No results found.
              </span>

                           <div fxLayout="row"
                                fxFlexFill >
                               <span flex></span>
                            <mat-chip-list><mat-chip [color]="acutecolor" selected=true>Acute</mat-chip></mat-chip-list>
                        </div>
                             <span *ngIf="lhcreMedicationStatement.length>0">
                        <app-medication-statement [medicationStatements]="lhcreMedicationStatement"> </app-medication-statement>
                                 </span>
          <span *ngIf="lhcreMedicationStatement.length==0">
                                 No results found.
              </span>
                             </mat-card-content>
                         </mat-card>

