<mat-card>
  <mat-card-content>
      <div fxLayout="row"
           fxFlexFill >
        <!-- Left pane -->
        <div fxFlex="75" layout-margin="3%">
          <div>
          <span *ngIf="patient != undefined">
            <div class="container" layout="row" layout-align="start center" flex>
              <span> &nbsp;  <b>{{ getLastName(patient)}}</b>{{getFirstName(patient)}}</span>
              <span flex ></span>

              &nbsp; <i>DOB:</i><b>&nbsp;{{patient.birthDate | date: 'dd-MMM-yyyy'}}</b>

              <span flex></span>
              <span>
                                   &nbsp;<i>Gender:</i><b>&nbsp; {{ patient.gender }}</b>
                                </span>
              <span flex></span>

              &nbsp;<i>NHS No:</i><b>&nbsp;{{ getNHSIdentifier(patient) }}</b>

            </div>
          </span>
          <br>
          <div class="container" layout="row" layout-align="start center" flex>
            <span *ngFor="let diagnosis of encounter.diagnosis">
                <h2>{{diagnosis.condition.display}}</h2>
            </span>
            <span flex></span>
             <span> Status <b>{{encounter.status}}</b></span>
          <span flex></span>
          <span>Incident Start <span *ngIf="encounter.period !== undefined"><b> {{encounter.period.start | date: 'HH:mm'}} </b></span></span>
        </div>
          <br>
          <td-expansion-panel disableRipple>
              <ng-template td-expansion-panel-label>
                <span>Encounter Details</span>
              </ng-template>
              <span *ngIf="encounters.length>0">
                <app-encounter [encounters]="encounters"></app-encounter>
              </span>

          </td-expansion-panel>
              <br>
            <button mat-button color="accent" fxFlexAlign="end" (click)="viewDetails(patient)">Patient Record</button>
          </div>
        </div>
       <!-- righy map pane -->
        <div fxFlex="25" layout-margin="3%" >
          <span *ngIf="coords!==undefined">
            <ngui-map class="map" zoom="13"
                      [center]="coords"
                      (mapReady$)="onMapReady($event)"
                      (mapClick)="onMapClick($event)"
                      (idle)="onIdle($event)">
              <marker *ngFor="let pos of positions" [position]="pos"></marker>
            </ngui-map>
          </span>
        </div>
      </div>
  </mat-card-content>
 <!-- <mat-card-actions>

  </mat-card-actions> -->
</mat-card>
