<mat-card>
  <mat-card-header>Patient Search</mat-card-header>
  <mat-card-content>
    <app-patient-search (patientSelected)="selectPatient($event)"></app-patient-search>
  </mat-card-content>
</mat-card>
<!--
<mat-card>
  <mat-card-header>Triage Mock Screen - Display only</mat-card-header>
  <mat-card-content>
<td-steps>
  <td-step #step1 label="Breathing" sublabel="Is the patient breathing" [active]="true" [disabled]="disabled" (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">

    <form  [formGroup]="triageFormGroup">
      <ng-template matStepLabel>Breathing</ng-template>
      <div class="row">
      <mat-radio-group formControlName="breathingCtrl">
        <mat-radio-button class="example-radio-button" *ngFor="let opt of yesno" [value]="opt.viewValue">
          {{opt.name}}
        </mat-radio-button>
      </mat-radio-group>
      </div>

    </form>
  </td-step>

  <td-step #step2 label="Conscious" sublabel="Is the patient conscious?" [active]="false" [disabled]="disabled" (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">

    <form  [formGroup]="triageFormGroup">
      <ng-template matStepLabel>Breathing</ng-template>
      <mat-radio-group class="example-radio-group" formControlName="breathingCtrl">
        <mat-radio-button class="example-radio-button" *ngFor="let opt of yesno" [value]="opt.viewValue">
          {{opt.name}}
        </mat-radio-button>
      </mat-radio-group>

    </form>
  </td-step>

  <td-step #step3 label="What happened" sublabel="Can you tell me what happened?" [active]="false" [disabled]="disabled" (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">
    <ng-template matStepLabel>What dis?</ng-template>
    <div class="row">
    <form  [formGroup]="triageFormGroup">

      <mat-form-field>
        <textarea matInput placeholder="What happened"></textarea>
      </mat-form-field>
    </form>
    </div>
  </td-step>

  <td-step #step3 label="Complete State" sublabel="Toggle between active and inactive while in complete state." [state]="stateStep3" [disabled]="disabled">
    Mark this step complete and get a summary
    <ng-template td-step-summary>
      Use an optional step summary to summarize the info in this step
    </ng-template>
    <ng-template td-step-actions>
      <button mat-raised-button color="primary" (click)="toggleCompleteStep3()" class="text-upper">Toggle Complete</button>
      <button mat-raised-button (click)="step3.active = false" class="text-upper">Cancel</button>
    </ng-template>
  </td-step>
</td-steps>
  </mat-card-content>
</mat-card>
-->
