<div fxLayout="row"
     fxFlexFill >
    <div fxFlex="100">
        <span *ngIf="patient !== undefined">
            <mat-card>
                <mat-card-content>
                <div class="container" layout="row" layout-align="start center" flex>
              <span> &nbsp;  <b>{{ getLastName(patient)}}</b>{{getFirstName(patient)}}</span>
              <span flex ></span>

              &nbsp; <i>DOB:</i><b>&nbsp;{{patient.birthDate | date: 'dd-MMM-yyyy'}}</b>

              <span flex></span>
              <span>
                                   &nbsp;<i>Gender:</i><b>&nbsp; {{ patient.gender }}</b>
                                </span>
              <span flex></span>

              &nbsp;<i>NHS No:</i><b>&nbsp;{{ getNHSIdentifier(patient) }}</b>
                  <span flex></span>
              <mat-chip-list>
                <mat-chip #yaschip [color]="yascolor" selected=true>YAS</mat-chip>
                  <mat-chip #acutechip [color]="acutecolor" selected=true>Acute</mat-chip>
                <mat-chip #gpchip [color]="gpcolor" selected=true>GP</mat-chip>
                <mat-chip #nrlschip [color]="nrlscolor" selected=true>NRLS</mat-chip>
              </mat-chip-list>
            </div>
                    </mat-card-content>
                <mat-card-actions>
                    <button #bs mat-button (click)="onClick($event,'bs' )" [color]="bscolour">Summary</button>
                    <button #be mat-button (click)="onClick($event,'be')" [color]="becolour">Encounters</button>
                    <button #bd mat-button (click)="onClick($event,'bd')" [color]="bdcolour">Documents</button>
                    <button #bp mat-button (click)="onClick($event,'bp')" [color]="bpcolour">Procedures</button>
                    <button #bo mat-button (click)="onClick($event,'bo')" [color]="bocolour">Observations</button>
                      <button #bm mat-button (click)="onClick($event,'bm')" [color]="bmcolour">Medications</button>
                    <button #bi mat-button (click)="onClick($event,'bi' )" [color]="bicolour">Immunisation</button>
                </mat-card-actions>
                </mat-card>
            </span>
    </div>
</div>


<router-outlet></router-outlet>









