<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring"
    xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
					http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring-2.16.1.xsd
         http://camel.apache.org/schema/spring-security http://camel.apache.org/schema/spring-security/camel-spring-security-2.16.2.xsd
         http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd">
	 
	 

	 <context:annotation-config />
	 <context:property-placeholder location="classpath:careconnectapi.properties"/>
	 <context:component-scan base-package="uk.nhs.careconnectapi.securityConfig"></context:component-scan>
	
	

	<bean id="logQuery" class="io.fabric8.insight.log.log4j.Log4jLogQuery" lazy-init="false" scope="singleton"
        init-method="start" destroy-method="stop"/>

   	 
  	<camel:camelContext id="CareConnectAPI" xmlns="http://camel.apache.org/schema/spring">
  		<propertyPlaceholder id="properties" location="classpath:careconnectapi.properties"/>
  		<package>uk.nhs.careconnectapi.camel</package>
  	</camel:camelContext>
	 
</beans>
