

    <mat-card>
      <mat-card-content>

        <div fxLayout="row"
             fxFlexFill >
          <h3>Procedures</h3>
          <span flex></span>
          <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
        </div>
        <span *ngIf="procedures.length>0">
             <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resource.entry !== undefined"> {{resource.entry.length}} / {{resource.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resource.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>
              <app-procedure  [procedures]="procedures" (encounterRef)="selectEncounter($event)"></app-procedure>
          </span>
        <span *ngIf="procedures.length==0">
              No results found.
          </span>
      </mat-card-content>
    </mat-card>


