<div class="modal-header">
    <div class="slim-page-header modal-title">Register An App in {{sandboxName}}
        <a href={{docLink('inboundRegisterApp')}} target="_blank" class="float-right-white-btn"><i class="fa fa-question-circle-o"></i></a>
    </div>
</div>
<div class="modal-body">
    <div class="modal-form">

        <div class="right-form-group">
            <label class="right-form-label">App URL</label>
            <input ng-blur="getManifest()" enter-key="getManifest()" ng-model="manifestUrl" class="right-form-input-box"/>
        </div>

        <div class="right-form-group" ng-show="hasError">
            <label class="right-form-label">Error</label>
            <textarea ng-disabled="true" class="right-form-description-box" ng-model="manifestError"></textarea>
        </div>

        <div ng-show="!hasError">

            <div class="right-form-group">
                <label class="right-form-label">App Name</label>
                <label class="right-form-value-label">{{appManifest.client_name}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Software ID</label>
                <label class="right-form-value-label">{{appManifest.software_id}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Client URI</label>
                <label class="right-form-value-label">{{appManifest.client_uri}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Launch URI</label>
                <label class="right-form-value-label">{{appManifest.launch_url}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Redirect URIs</label>
                <label class="right-form-value-label">{{appManifest.redirect_uris.join("\n")}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Scopes</label>
                <label class="right-form-value-label">{{appManifest.scope}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Token Endpoint Auth Method</label>
                <label class="right-form-value-label">{{appManifest.token_endpoint_auth_method}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">Grant Types</label>
                <label class="right-form-value-label">{{appManifest.grant_types.join(", ")}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">FHIR Versions</label>
                <label class="right-form-value-label">{{appManifest.fhir_versions.join(", ")}}</label>
            </div>

            <div class="right-form-group">
                <label class="right-form-label">App Logo</label>
                <div class="thumbnail right-form-value-label">
                    <img ng-show="appManifest.logo_uri" ng-src="{{appManifest.logo_uri}}">
                    <label ng-hide="appManifest.logo_uri" style="margin-top: 5px">No Image</label>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" ng-disabled="!appManifest || hasError" type="button" ng-click="registerApp(appManifest)"><i class="fa fa-save fa-lg"></i> Register App</button>
    <button class="form-btn btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>
</div>

