<div ng-controller="ContextParamController">
    <div class="scrollableContainer contextTable">
        <div class="headerSpacer"></div>
        <div class="scrollArea">
            <table class="table table-striped">
                <thead class="fixedHeader">
                <tr>
                    <th><div class="th-inner" table-context-header-inner>Key</div></th>
                    <th><div class="th-inner" table-context-header-inner>Value</div></th>
                </tr>
                </thead>
                <tbody class="scrollContent">
                <tr ng-repeat="contextItem in selectedScenario.contextParams"
                    ng-click="selectContext(contextItem)"
                    ng-class="{selected: selectedContext === contextItem}">
                    <td>{{contextItem.name}}</td>
                    <td>{{contextItem.value}}</td>
                </tr>
                <tr ng-show="showing.addingContext">
                    <td>
                        <div class="form-group">
                            <input id="contextName" type="text" ng-model="contextName" ng-class="contextNameIsValid ? 'form-control' : 'invalid-form-control'">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input id="contextValue" type="text" ng-model="contextValue" ng-class="contextValueIsValid ? 'form-control' : 'invalid-form-control'">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 content-column">
        <div ng-show="!showing.addingContext && !contextSelected && canDelete">
            <a ng-click="toggleAddingContext()"><i class="fa fa-plus"></i> Add</a>
        </div>
        <div ng-show="!showing.addingContext && contextSelected">
            <a ng-click="delete()"><i class="fa fa-remove"></i> Delete</a>
        </div>
        <div ng-show="showing.addingContext">
            <a ng-click="saveContextParam()" ng-class="{'disabled' : !contextIsValid()}"><i class="fa fa-check"></i> Save</a>
            <a class="pull-right" ng-click="cancel()"><i class="fa fa-remove"></i> Cancel</a>
        </div>
    </div>
</div>

