<div class="col-md-12" ng-controller="DataAcquisitionController">
    <div class="row">
        <div style="padding-right: 0; padding-left: 0" ng-class="showing.patientDetail ? 'col-lg-8 right-border' : 'col-lg-12'">
            <div class="fhir-endpoint-bar">
                <div class="fhir-endpoint-label"><label>FHIR Endpoint</label></div>
                <div id="apiSourceDropdown" class="btn-group" uib-dropdown>
                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem" ng-repeat="endpoint in fhirEndpoints" ng-click="selectEndpoint(endpoint)" ><a href="#">{{endpoint.name}}
                            <!--For some reason ng-class wouldn't work here. Used ng-show instead.-->
                            <span class="label label-success" ng-show="endpoint.match">{{endpoint.version}}</span>
                            <span class="label label-warning" ng-show="!endpoint.match" >{{endpoint.version}}</span>
                        </a></li>
                        <!--<li class="divider"></li>-->
                        <!--<li role="menuitem"><a href="#">Custom</a></li>-->
                    </ul>
                </div>

                <div id="apiSourceInput" class="form-group fhir-endpoint-field">
                    <input type="text" ng-disabled="true" class="form-control" ng-model="selected.fhirEndpoint.endpoint">
                    <p class="help-block">
                        {{selected.fhirEndpoint.name}}
                        <!--For some reason ng-class wouldn't work here. Used ng-show instead.-->
                        <span tooltip-placement="bottom" class="label label-success" ng-show="selected.fhirEndpoint.match">{{selected.fhirEndpoint.version}}</span>
                        <span tooltip-placement="bottom" class="label label-warning" ng-show="!selected.fhirEndpoint.match">{{selected.fhirEndpoint.version}}</span>
                    </p>
                </div>
            </div>
            <div class="search-bar externalQuery">
                <div class="search-label"><label>FHIR Query</label></div>
                <div class="search-field typeahead">
                    <input enter-key="queryExternalFhirServer(settings.externalFhirQuery)" type="text" class="input-box form-control" ng-model="settings.externalFhirQuery"
                           uib-typeahead="item for item in filterExternalQuery($viewValue)"
                           typeahead-on-select="settings.externalFhirQuery = $item; queryExternalFhirServer(settings.externalFhirQuery)" typeahead-min-length="0">

                    <a href='#' class='undo-icon' ng-show="settings.externalFhirQuery != ''" ng-click="settings.externalFhirQuery = ''; queryExternalFhirServer('clear')"><i class='fa fa-remove fa-lg'></i></a>
                    <a href='#' class='search-icon' ng-click="queryExternalFhirServer(settings.externalFhirQuery)"><i class='fa fa-search fa-lg'></i></a>
                </div>
            </div>
            <div class="row">
                <div class="query-input">
                    <label class="query-result-label" style="width: 40px; margin-left: 32px;">Total </label>
                    <label ng-show="settings.showing.results" class="query-result-label" style="width: 60px; font-weight: 600">{{settings.externalResultTotal}}</label>
                    <label class="query-result-label" style="width: 80px">Current Set </label>
                    <label ng-show="settings.showing.results" class="query-result-label" style="width: 40px; font-weight: 600">{{settings.externalResultSet}}</label>
                </div>
            </div>
            <div style="padding-right: 10px; padding-left: 0" ng-show="!hasError">
                <div class="slim-page-header" style="padding:0 0 5px 0" >Summary</div>
                <div class="summaryBox" resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px', 'margin-bottom': '10px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+180)">
                    <div ng-repeat="resource in settings.externalResourceList" ng-click="selectExternalResource(resource)" ng-class="{selected : resource === settings.selected.externalResource}">
                        <div class="row summaryRow" style="border-bottom: 1px solid #ccc; cursor: pointer">
                            <div ng-repeat="attribute in settings.selectedResourceType.displayValues">
                                <div ng-show="attribute.show">
                                    <label class="query-result-label" style="width: 30%; font-weight: 600">{{attribute.label}} </label>
                                    <label class="query-result-label" style="width: 70%;">{{getDynamicModel(resource.resource, attribute.path, attribute)}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-right: 10px; padding-left: 0" ng-show="hasError">
                <div class="slim-page-header" style="padding:0 0 5px 0" >Error</div>
                <textarea class="summaryBox" style="width: 100%; resize: none" readonly resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px', 'margin-bottom': '10px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+180)">
                    {{queryError}}
                </textarea>
            </div>
        </div>
        <div class="col-lg-4 content-column left-border" ng-show="showing.patientDetail" style="margin-top: -6px;">
            <div class="details-header" resize ng-class="scrollWidth(size.screenW) ? 'details-vertical-scroll' : ''">
                <div class="slim-page-header">Patient Details</div>
            </div>
            <div ng-include="'static/js/templates/patientDetail.html'"></div>
        </div>
    </div>
</div>
