<div class="row" ng-controller="DataExportController">
    <div class="col-lg-12">
        <div class="slim-page-header">Export JSON Bundle</div>
        <textarea resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+135)" style="resize: none; background-color: #fff; cursor: text; height:400px" class="form-control"  readonly>{{settings.exportResults}}</textarea>
        <div class="col-md-12 content-column" style=" height: 35px;">
            <div class="btn btn-basic btn-md" ng-click="export()"><i class="fa fa-download fa-lg"></i> Export All</div>
            <div ng-disabled="!settings.showing.export.results" class="btn btn-basic btn-md" ng-click="saveToFile()"><i class="fa fa-save fa-lg"></i> Save To File</div>
            <!--<div class="search-bar" style="left: 185px;top: -31px;">-->
            <div class="search-bar">
                <div class="search-label"><div class="btn btn-basic btn-md" ng-click="export(settings.exportQuery)"><i class="fa fa-download fa-lg"></i> Export Query</div></div>
                <div class="search-field" style="margin-left: 105px;">
                    <input enter-key="export(settings.exportQuery)" type="text" class="input-box form-control" ng-model="settings.exportQuery">
                    <a href='#' class='undo-icon' ng-show="settings.exportQuery != ''" ng-click="settings.exportQuery = ''; export('clear')"><i class='fa fa-remove fa-lg'></i></a>
                    <a href='#' class='search-icon' ng-click="export(settings.exportQuery)"><i class='fa fa-search fa-lg'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
