<div class="col-md-12 horizontal-scroll" ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+40)" resize>
    <div class="row">
        <div class="col-md-12 content-column info-box">
            <div class="title-box" style="margin-top: 15px">
                <div class="title">Capabilities Matrix</div>
                <div class="content">
                    <div class="info-form">
                        <div class="info-form-label">
                            SMART on FHIR EHR Capabilities Matrix
                        </div>
                        <a target="_blank" href="http://docs.smarthealthit.org/fhir-support/" class="info-form-hyperlink">
                            http://docs.smarthealthit.org/fhir-support/
                        </a>
                    </div>
                </div>
            </div>
            <div class="title-box" style="margin-top: 15px">
                <div class="title">Allscripts</div>
                <div class="content">
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I learn about Allscript's development programs?
                        </div>
                        <a target="_blank" href="https://developer.allscripts.com/" class="info-form-hyperlink">
                            https://developer.allscripts.com/
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I register a SMART on FHIR app?
                        </div>
                        <a target="_blank" href="https://developer.allscripts.com/Account/MyDashboard" class="info-form-hyperlink">
                            https://developer.allscripts.com/Account/MyDashboard
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            What is Allscript's support for DSTU2?
                        </div>
                        <a target="_blank" href="https://developer.allscripts.com/" class="info-form-hyperlink">
                            https://developer.allscripts.com/
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            What is Allscript's support for STU3?
                        </div>
                        <div class="info-form-value">
                            Not supported at this time
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-box" style="margin-top: 15px">
                <div class="title">Cerner</div>
                <div class="content">
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I learn about Cerner's development programs?
                        </div>
                        <a target="_blank" href="https://code.cerner.com/" class="info-form-hyperlink">
                            https://code.cerner.com/
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I register a SMART on FHIR app?
                        </div>
                        <a target="_blank" href="https://code.cerner.com/developer/smart-on-fhir/apps" class="info-form-hyperlink">
                            https://code.cerner.com/developer/smart-on-fhir/apps
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            What is Cerner's support for DSTU2?
                        </div>
                        <a target="_blank" href="http://fhir.cerner.com/millennium/dstu2/" class="info-form-hyperlink">
                            http://fhir.cerner.com/millennium/dstu2/
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            What is Cerner's support for STU3?
                        </div>
                        <div class="info-form-value">
                            Not supported at this time
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-box" style="margin-top: 15px">
                <div class="title">Epic</div>
                <div class="content">
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I learn about Epic's development programs?
                        </div>
                        <a target="_blank" href="https://open.epic.com/" class="info-form-hyperlink">
                            https://open.epic.com/
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I register a SMART on FHIR app?
                        </div>
                        <a target="_blank" href="https://open.epic.com/MyApps" class="info-form-hyperlink">
                            https://open.epic.com/MyApps
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            What is Epic's support for DSTU2?
                        </div>
                        <a target="_blank" href="https://open.epic.com/Interface/FHIR" class="info-form-hyperlink">
                            https://open.epic.com/Interface/FHIR
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            What is Epic's support for STU3?
                        </div>
                        <div class="info-form-value">
                            Not supported at this time
                        </div>
                    </div>
                </div>
            </div>
            <div class="title-box" style="margin-top: 15px">
                <div class="title">SMART</div>
                <div class="content">
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I learn about the SMART sandbox?
                        </div>
                        <a target="_blank" href="https://sandbox.smarthealthit.org" class="info-form-hyperlink">
                            https://sandbox.smarthealthit.org
                        </a>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            Which FHIR versions does the SMART sandbox support?
                        </div>
                        <div class="info-form-value">
                            DSTU2
                        </div>
                    </div>
                    <div class="info-form">
                        <div class="info-form-label">
                            Where can I see the SMART Gallery?
                        </div>
                        <a target="_blank" href="https://apps.smarthealthit.org/" class="info-form-hyperlink">
                            https://apps.smarthealthit.org/
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
