<div class="modal-header">
   <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div>{{message}}</div>
    <div class="detail-form" ng-show="displayValue !== undefined">
        <label class="detail-form-label" style="width:100%; padding: 10px 0 0 0; font-weight: 500">{{displayValue.label}}</label>
        <div style="width:100%; padding: 0" class="detail-form-label-input">
            <label class="form-control detail-form-value-full">{{displayValue.value}}</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" type="button" ng-click="close()">Close</button>
</div>
