<div class="cube-content">
    <div class="cube-item"><a href='http://hspconsortium.org' target="_blank"><img src="https://content.hspconsortium.org/images/hspc/logo/hspc-new-logo-md.png"style="cursor: pointer" />
        <div class="cube-item-text">Consortium</div>
    </a>
    </div>
    <div class="cube-item"><a href='http://developers.hspconsortium.org' target="_blank"><img src="https://content.hspconsortium.org/images/hspc-developers/icon/hspc-developers-icon.png" srcset="https://content.hspconsortium.org/images/hspc-developers/icon/hspc-developers-icon@2x.png 2x" style="cursor: pointer" />
        <div class="cube-item-text">Developers</div>
    </a>
    </div>
    <div class="cube-item"><a href='https://gallery.hspconsortium.org' target="_blank"><img src="https://content.hspconsortium.org/images/hspc-gallery/icon/hspc-gallery-icon.png" srcset="https://content.hspconsortium.org/images/hspc-gallery/icon/hspc-gallery-icon@2x.png 2x" style="cursor: pointer" />
        <div class="cube-item-text">Gallery</div>
    </a>
    </div>
</div>