<div class="container-fluid" ng-controller="PatientViewController">
    <div class="row">
        <div class="content-column" resize ng-style="scrollScreen(size.screenH, size.screenW) ? '' :  resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight)" ng-class="showing.patientDetail ? 'col-lg-8 right-border' : 'col-lg-12'">
            <div class="slim-page-header">Patients View</div>
            <div ng-include="'static/js/templates/patientSearch.html'"></div>
        </div>
        <div class="col-lg-4 content-column left-border" ng-show="showing.patientDetail">
            <div class="details-header" resize ng-class="scrollWidth(size.screenW) ? 'details-vertical-scroll' : ''">
                <div class="slim-page-header">Patient Details</div>
            </div>
            <div ng-include="'static/js/templates/patientDetail.html'"></div>
        </div>
    </div>
</div>

