<div class="modal-header">
    <div class="slim-page-header modal-title">Create New Patient</div>
</div>
<div class="modal-body modal-body-style">
    <form name="CreatePatientForm" class="form-horizontal" role="form">
        <div id="givenNameHolder" ng-class="isGivenNameValid() ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3">Given Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="given"
                       required ng-model="modalPatient.name[0].given[0]" placeholder="John ..."
                       aria-describedby="patientGivenNameErrorStatus">
                <span id="givenNameIcon" ng-class="isGivenNameValid() ? 'glyphicon glyphicon-ok form-control-feedback' : 'glyphicon glyphicon-remove form-control-feedback'" aria-hidden="true"></span>
            </div>
        </div>
        <div id="familyNameHolder" ng-class="isFamilyNameValid() ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3">Family Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="family"
                       required ng-model="modalPatient.name[0].family[0]" placeholder="Smith ..."
                       aria-describedby="patientFamilyNameErrorStatus">
                <span id="familyNameIcon" ng-class="isFamilyNameValid() ? 'glyphicon glyphicon-ok form-control-feedback' : 'glyphicon glyphicon-remove form-control-feedback'" aria-hidden="true"></span>
            </div>
        </div>
        <div id="genderHolder" ng-class="isGenderValid() ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3">Gender:</label>

            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="gender" id="gender-male" value="male"
                           ng-model="modalPatient.gender"> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" id="gender-female" value="female"
                           ng-model="modalPatient.gender"> Female
                </label>
                <div>
                    <span id="genderIcon" ng-class="isGenderValid() ? 'glyphicon glyphicon-ok form-control-feedback' : 'glyphicon glyphicon-remove form-control-feedback'" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div id="birthDateHolder" ng-class="isBirthDateValid() ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3" >Birth Date:</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="birthDate"
                       required ng-model="modalPatient.birthDate"
                       aria-describedby="birthDateErrorStatus"
                       placeholder="yyyy-MM-dd" >
                <span id="birthDateIcon" ng-class="isBirthDateValid() ? 'glyphicon glyphicon-ok form-control-feedback' : 'glyphicon glyphicon-remove form-control-feedback'" aria-hidden="true"></span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="form-group">
            <button id="createPatientButton" ng-class="{'disabled' : !isPatientValid()}" type="button" class="btn btn-basic" ng-click="createPatient()" tabindex="104">Create
            </button>
            <button id="cancelButton" type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="cancel()" tabindex="105">Cancel</button>
    </div>
</div>
