<div class="modal-header">
    <div class="slim-page-header modal-title">Create New Practitioner</div>
</div>
<div class="modal-body modal-body-style">
    <form name="CreatePractitionerForm" class="form-horizontal" role="form">
        <div id="givenNameHolder" ng-class="isGivenNameValid() ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3">Given Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="given"
                       required ng-model="modalPractitioner.name.given[0]" placeholder="John ..."
                       aria-describedby="PractitionerGivenNameErrorStatus">
                <span id="givenNameIcon" ng-class="isGivenNameValid() ? 'glyphicon glyphicon-ok form-control-feedback' : 'glyphicon glyphicon-remove form-control-feedback'" aria-hidden="true"></span>
            </div>
        </div>
        <div id="familyNameHolder" ng-class="isFamilyNameValid() ? 'form-group has-feedback' : 'form-group has-error has-feedback'">
            <label class="control-label col-sm-3">Family Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="family"
                       required ng-model="modalPractitioner.name.family[0]" placeholder="Smith ..."
                       aria-describedby="PractitionerFamilyNameErrorStatus">
                <span id="familyNameIcon" ng-class="isFamilyNameValid() ? 'glyphicon glyphicon-ok form-control-feedback' : 'glyphicon glyphicon-remove form-control-feedback'" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3">Suffix:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="modalPractitioner.name.suffix[0]" placeholder="MD ...">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3">Specialty:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="modalPractitioner.practitionerRole[0].specialty[0].coding[0].display" placeholder="Cardiology ...">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label col-sm-3">Role:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="modalPractitioner.practitionerRole[0].role.coding[0].display" placeholder="Doctor ...">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="form-group">
            <button id="createPractitionerButton" ng-class="{'disabled' : !isPractitionerValid()}" type="button" class="btn btn-basic" ng-click="createPractitioner()" tabindex="104">Create
            </button>
            <button id="cancelButton" type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="cancel()" tabindex="105">Cancel</button>
    </div>
</div>
