<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="row">
            <div class="detail-form">
                <label class="detail-form-label" style="width: 50px">Patient:</label>
                <label class="detail-form-label" ng-show="hasPatient && canManageData()"><a style="font-weight: 600" ng-click="launchPatientDataManager(patient)">{{patient | nameGivenFamily}}</a></label>
                <label class="detail-form-label" ng-show="hasPatient && !canManageData()">{{patient | nameGivenFamily}}</label>
                <label class="detail-form-label" ng-show="!hasPatient">No Associated Patient</label>
            </div>
        </div>
        <div class="row" ng-show="hasPatient">
            <div class="detail-form">
                <label class="detail-form-label" style="width: 50px">Gender:</label>
                <label class="detail-form-label" style="font-weight: 600">{{patient.gender}}</label>
            </div>
        </div>
        <div class="row" ng-show="hasPatient">
            <div class="detail-form">
                <label class="detail-form-label" style="width: 50px">Birthday:</label>
                <label class="detail-form-label" style="font-weight: 600">{{patient.birthDate}}</label>
            </div>
        </div>
        <div class="row">
            <textarea style="resize: none; background-color: #fff; cursor: text; height:400px" class="form-control"  readonly>{{text}}</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button style="margin-top: 5px" class="form-btn btn btn-basic" type="button" ng-click="confirm(true)">{{ok}}</button>
    </div>
</div>