<div class="scrollableContainer referenceTable" resize ng-style="{height: fullTable ? resizeTable(530, 150) : '150px' }">
    <div class="headerSpacer"></div>
    <div class="scrollArea">
        <table class="table table-striped">
            <thead class="fixedHeader">
            <tr>
                <th><div class="th-inner" table-header-inner>Description</div></th>
                <th><div class="th-inner" table-header-inner>User Persona</div></th>
                <th><div class="th-inner" table-header-inner>Patient Context</div></th>
                <th><div class="th-inner" table-header-inner>App</div></th>
            </tr>
            </thead>
            <tbody class="scrollContent">
            <tr ng-click="scenarioSelected(scenario)" ng-repeat="scenario in launchScenarioList"
                ng-class="{selected: selectedScenario === scenario}" style="cursor: pointer;">
                <td><i ng-click="launch(scenario)" class="btn-image fa fa-external-link fa-lg"></i> {{scenario.description}}</td>
                <td><i class='fa' ng-show="scenario.userPersona" ng-class="scenario.userPersona.resource == 'Patient' ? 'fa-bed' : 'fa-user-md'"></i> {{scenario.userPersona.fhirName}}</td>
                <td>{{scenario.patient.name}}</td>
                <td>{{scenario.app.authClient.clientName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

