<div class="container-fluid" ng-controller="SettingsViewController">

    <div class="row settings-container" resize ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight)">
        <div class="col-md-6">
            <div class="sub-header">Sandbox Details</div>
            <div class="box">
                <div class="right-form-group">
                    <label class="right-form-label">Sandbox ID </label>
                    <label class="right-form-value-label">{{sandbox.sandboxId}}</label>
                </div>
                <div class="right-form-group">
                    <label class="right-form-label">Sandbox URL </label>
                    <label class="right-form-value-label">{{sandboxURL}}</label>
                </div>
                <div class="right-form-group">
                    <label class="right-form-label">Secured FHIR Server URL </label>
                    <label class="right-form-value-label">{{secureFhirUrl}}</label>
                </div>
                <div class="right-form-group">
                    <label class="right-form-label">Sandbox FHIR Version </label>
                    <label class="right-form-value-label">{{fhirVersion}}</label>
                </div>
                <div class="right-form-group">
                    <label class="right-form-label">Allow Open FHIR Endpoint </label>
                    <input ng-disabled="!canEdit()" type="checkbox" class="right-form-input-box" ng-model="sandbox.allowOpenAccess"/>
                </div>
                <div class="right-form-group" ng-show="sandbox.allowOpenAccess">
                    <label class="right-form-label">Open FHIR Server URL </label>
                    <label class="right-form-value-label">{{openFhirUrl}}</label>
                </div>
                <div class="right-form-group">
                    <label class="right-form-label">Sandbox Name</label>
                    <input ng-disabled="!canEdit()" ng-model="sandbox.name" class="right-form-input-box"/>
                </div>
                <div class="right-form-group">
                    <label class="right-form-label">Description</label>
                    <textarea ng-disabled="!canEdit()" class="right-form-description-box" ng-model="sandbox.description"></textarea>
                </div>
                <div ng-show="canEdit()" class="btn btn-basic btn-md" ng-disabled="!canEdit()" ng-click="updateSandbox()"><i class="fa fa-save fa-lg"></i> Save</div>
            </div>
        </div>
        <div class="col-md-6">

            <div ng-show="canEdit()" class="sub-header">Reset Sandbox Data</div>
            <div ng-show="canEdit()" class="box">
                <label class="right-form-note-label">Resetting the sandbox will delete:
                    <ul>
                        <li>all FHIR data</li>
                        <li>launch scenarios</li>
                        <li>personas</li>
                    </ul>
                    This is NOT reversible!
                </label>
                <label class="right-form-note-label">Unaffected:
                    <ul>
                        <li>registered apps</li>
                        <li>sandbox members</li>
                    </ul>
                </label>
                <div class="right-form-group" ng-show="supportsDataSets">
                    <input ng-disabled="!canReset()" type="checkbox" ng-model="defaultDataSet" class="right-form-input-checkbox"/>
                    <label class="right-form-checkbox-label">Apply Default Data Set</label>
                    <label class="create-form-description">If not selected, the sandbox will be empty</label>
                </div>
                <div tooltip-placement="top" uib-tooltip="Only a sandbox Admin can reset the sandbox" tooltip-trigger="!canReset() ? 'mouseenter' : 'none'">
                    <div class="right-form-group">
                        <input ng-disabled="!canReset()" type="checkbox" ng-model="confirmReset" class="right-form-input-checkbox"/>
                        <label class="right-form-checkbox-label">Are you sure you want to reset sandbox <b>{{sandbox.name}}</b>? </label>
                    </div>
                    <div ng-disabled="!canReset() || !confirmReset" class="btn btn-basic btn-md" ng-click="resetSandbox()"><i class="fa fa-undo fa-lg"></i> Reset Sandbox</div>

                </div>
            </div>

            <div ng-show="canEdit()" class="sub-header">Delete Sandbox</div>
            <div ng-show="canEdit()" class="box">
                <label class="right-form-note-label">Deleting the sandbox will delete:
                    <ul>
                        <li>all FHIR data</li>
                        <li>launch scenarios</li>
                        <li>registered apps</li>
                        <li>remove access for all sandbox members</li>
                    </ul>
                    This is NOT reversible!</label>
                <div tooltip-placement="top" uib-tooltip="Only the sandbox creator can delete the sandbox" tooltip-trigger="!canDelete() ? 'mouseenter' : 'none'">
                    <div class="right-form-group">
                        <input ng-disabled="!canDelete()" type="checkbox" ng-model="confirmDelete" class="right-form-input-checkbox"/>
                        <label class="right-form-checkbox-label">Are you sure you want to delete sandbox <b>{{sandbox.name}}</b>? </label>
                    </div>
                    <div ng-disabled="!canDelete() || !confirmDelete" class="btn btn-basic btn-md" ng-click="deleteSandbox()"><i class="fa fa-remove fa-lg"></i> Delete Sandbox</div>

                </div>
            </div>
        </div>
    </div>
</div>

