<!DOCTYPE html>
<html lang="en">
	<head>
		<title th:include="window-title :: home" />
		<th:block th:include="tmpl-head :: head" />
		<script th:include="tmpl-buttonclick-handler :: handler" />
		<link rel="shortcut icon" href="img/favicon.ico">
	</head>

	<body>
		<form action="" method="get" id="outerForm">
		<input type="hidden" id="serverId" name="serverId" th:value="${serverId}"></input> 
		<input th:if="${_csrf} != null" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

		<div th:replace="tmpl-navbar-top :: top" ></div>
		
		<div class="container-fluid">
			<div class="row">

				<div th:replace="tmpl-navbar-left :: left" ></div>

				<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

					<div th:replace="tmpl-banner :: banner"></div>

					<!-- ********************************************************** -->
					<!-- ** Default Home                                         ** -->
					<!-- ********************************************************** -->

						<div th:replace="tmpl-home-welcome :: banner"></div>

						<table class="table table-bordered table-striped" th:if="${resourceName.empty}">
							<colgroup>
								<col class="col-xs-1" />
								<col class="col-xs-7" />
							</colgroup>
							<tbody>
								<tr th:if="${!#strings.isEmpty(conf.implementation.description)}">
									<td>Server</td>
									<td th:utext="'' + ${conf.implementation.description}">HAPI Restful Server</td>
								</tr>
								<tr th:if="${!#strings.isEmpty(conf.software.name)} or ${!#strings.isEmpty(conf.software.version)}">
									<td>Software</td>
									<td>
										<th:block th:utext="'' + ${conf.software.name}"/> - <th:block th:utext="'' + ${conf.software.version}"/>
									</td>
								</tr>
								<tr>
									<td>FHIR Base</td>
									<td>
										<a th:href="${base}" th:text="${#strings.replace(base,'http:','https:')}"></a>
									</td>
								</tr>
							</tbody>
						</table>

						<!-- ************************************************ -->
						<!-- ** Server Actions (no resource selected)      ** -->
						<!-- ************************************************ -->

						<div class="panel panel-default" th:if="${resourceName.empty}">
							<div class="panel-heading">
								<h3 class="panel-title">Server Actions</h3>
							</div>
							<div class="panel-body">
								<div class="container-fluid">
							
								<!-- Conformance -->
								
									<div class="row-fluid">
										Retrieve the server's <b>conformance</b> statement.										
									</div>
								    <div class="row-fluid">
								    	<div class="col-sm-3 form-group">
											<a type="button" id="fetch-conformance-btn"
												class="btn btn-primary btn-block">
												<span class="fa fa-dot-circle-o"></i>
												Conformance
											</a>
											<script type="text/javascript">
												$('#fetch-conformance-btn').click(
													function() {
														handleActionButtonClick($(this));
														$("#outerForm").attr("action", "conformance").submit();
													});
											</script>
										</div>
									</div>
									


								<!-- Get Tags -->
								<!-- 
								
									<br clear="all"/>
									<div class="row-fluid">
										Show all of the tags currently in use on the server										
									</div>
								    <div class="row-fluid">
								    	<div class="col-sm-3 form-group">
											<button type="button" id="get-server-tags-btn" class="btn btn-primary btn-block">
												<span class="fa fa-tags"></i>
												Get Tags
											</button>
											<script type="text/javascript">
												$('#get-server-tags-btn').click(
														function() {
															var btn = $(this);
															handleActionButtonClick($(this));
															$("#outerForm").attr("action", "get-tags").submit();
														});
											</script>
										</div>
									</div>

								-->
								<!-- Next Server Action? -->
								    
								</div>
							</div>
						</div>

				</div>
			</div>
		</div>

	</form>
	
	<div th:replace="tmpl-footer :: footer" ></div>
</body>
</html>
