<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<div>
			You are accessing the INTEROpen/NHS Digital Care Connect Reference Implementation FHIR server. <br>
			<br>
			For more information on Care Connect: <br>
			<br>
			<a href="https://nhsconnect.github.io/CareConnectAPI/">NHS Digital Care Connect API</a><br>
			 <a href="https://fhir-test.hl7.org.uk/">HL7 UK INTEROpen Care Connect FHIR Profiles</a><br>
			<a href="https://fhir.nhs.uk/">NHS Digital FHIR Profiles</a><br>
			<br>

			<div class="alert alert-warning" role="alert">
				<i class="fa fa-warning"></i> <b>Important:</b> All information provided is subject to on-going review.</div>
			</div>
			This is not a production server.  Do not store any information here that contains personal health information or any other confidential information. This server will be regularly purged and reloaded with fixed test data.
		</div>
	</div>	
</html>
