<mat-menu #appMenu="matMenu">
  <span *ngFor="let server of serverMenu">
  <button mat-menu-item (click)="swapServer(server)">{{server.title}}</button>
    </span>
</mat-menu>
<mat-menu #formatMenu>
  <button mat-menu-item (click)="format('jsonf')">
    <span *ngIf="outputFormat === 'jsonf';then other1i else other1e">
    </span>
    <ng-template #other1i><mat-icon>check</mat-icon></ng-template>
    <ng-template #other1e><mat-icon></mat-icon></ng-template>
    <span>JSON (Formatter)</span></button>
  <button mat-menu-item (click)="format('json')">
    <span *ngIf="outputFormat === 'json';then other2i else other2e">
      <mat-icon>check</mat-icon>
    </span>
    <ng-template #other2i><mat-icon>check</mat-icon></ng-template>
    <ng-template #other2e><mat-icon></mat-icon></ng-template>
    <span>JSON</span></button>
  <button mat-menu-item (click)="format('xml')">
    <span *ngIf="outputFormat === 'xml';then other3i else other3e">
      <mat-icon>check</mat-icon>
    </span>
    <ng-template #other3i><mat-icon>check</mat-icon></ng-template>
    <ng-template #other3e><mat-icon></mat-icon></ng-template>
    <span>XML</span></button>
  <button mat-menu-item (click)="format('epr')">
    <span *ngIf="outputFormat === 'epr';then other4i else other4e">
      <mat-icon>check</mat-icon>
    </span>
    <ng-template #other4i><mat-icon>check</mat-icon></ng-template>
    <ng-template #other4e><mat-icon></mat-icon></ng-template>
    <span>EPR Mode</span></button>
</mat-menu>

<td-layout [class]="'theme-light'">
  <td-navigation-drawer flex sidenavTitle="Applications"  name="" email="" >
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item href="{{item.route}}"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list #navList
                      color="primary"
                      [opened]="media.registerQuery('gt-sm') | async"
                      [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                      [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>apps</mat-icon>
      </button>
      <!-- <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon> -->
      <span [routerLink]="['/']" class="cursor-pointer"><mat-icon color="accent">whatshot</mat-icon>FHIR Explorer</span>
    </div>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{title}}</span>
      <span flex></span>
      <button mat-icon-button matTooltip="Output format" [matMenuTriggerFor]="formatMenu"><mat-icon>text_format</mat-icon></button>
      <button mat-icon-button matTooltip="Swap FHIR Server" [matMenuTriggerFor]="appMenu"><mat-icon>device_hub</mat-icon></button>

      <!--
      <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><mat-icon>chrome_reader_mode</mat-icon></a>
      <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><mat-icon svgIcon="assets:github"></mat-icon></a>
      -->
    </div>
    <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
      <a mat-list-item routerLink="/"><mat-icon matListAvatar>home</mat-icon> <h3 matLine>Home </h3></a>
      <mat-divider></mat-divider>
      <mat-list-item><h2 matLine>  Resources</h2></mat-list-item>
      <mat-divider></mat-divider>
      <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
        <a mat-list-item routerLink="resource/{{item.route}}">

          <h3 matLine > {{item.title}} </h3><mat-chip-list>
          <span *ngIf="item.count > 0"><mat-chip>{{item.count}}</mat-chip></span>
        </mat-chip-list>

        </a>
        <mat-divider [inset]="false" *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-nav-list>
    <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <router-outlet></router-outlet>
    </div>
   <!-- <td-layout-footer-inner>
      Optional inner footer
    </td-layout-footer-inner> -->
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2018 NHS Digital. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>
