

    <mat-card>
      <mat-card-content>

               <div fxLayout="row"
                    fxFlexFill >
                            <h3>Observations</h3>
                               <span flex></span>
                            <mat-chip-list><mat-chip>YAS</mat-chip></mat-chip-list>
                        </div>
          <span *ngIf="observations.length>0; else noresources">
              <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resource.entry !== undefined"> {{resource.entry.length}} / {{resource.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resource.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>
              <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>
 </span>
          <ng-template #noresources>
                                 No results found.
          </ng-template>
      </mat-card-content>
    </mat-card>


