<mat-card>
    <mat-card-title>{{currentResource}} Capabilities</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <span *ngIf="rest !== undefined">
            <span *ngFor="let interaction of rest.interaction">
                <h3>{{interaction.code}}</h3>
                <span *ngIf="interaction.code === 'read'">
                    <td-message label="GET {{base}}/{{'{'}}id{{'}'}}" color="accent" icon="info"></td-message>
                </span>
                <span *ngIf="interaction.code === 'create'">
                    <td-message label="POST {{base}}" color="accent" icon="info"></td-message>
                </span>
                <span *ngIf="interaction.code === 'update'">
                     <td-message label="PUT {{base}}/{{'{'}}id{{'}'}}" color="accent" icon="info"></td-message>
                </span>
                <span *ngIf="interaction.code === 'search-type'">
                    <td-message label="GET {{base}}?{{'{'}}search parameters{{'}'}}" color="accent" icon="info"></td-message>
                    <table>
                        <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th width="60%">Details</th>
                            <th width="15%">Parameter Type</th>
                            <th width="5%"></th>
                        </tr>
                        </thead>
                        <tr *ngFor="let param of rest.searchParam">
                            <td>{{param.name}}</td>
                            <td>{{param.documentation}}</td>
                            <td>{{param.type}}</td>
                            <td>
                                <button mat-icon-button color="accent" (click)="onAdd(param)"><mat-icon>add_circle</mat-icon></button>
                            </td>
                        </tr>
                    </table>
                    </span>
            </span>
        </span>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="searchVisible">
    <mat-card-title>Search Form</mat-card-title>
    <mat-card-subtitle>Add Search Fields above</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <td-dynamic-forms #form [elements]="elements">
          <ng-template let-element ngFor [ngForOf]="elements">
            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                <span *ngIf="control.touched || !control.pristine">
                  <span *ngIf="control.hasError('required')">Required</span>
                  <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                  <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                  <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                  <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                </span>
            </ng-template>
          </ng-template>
        </td-dynamic-forms>
        <span *ngIf="progressBar">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </span>
    </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button button color="accent" class="text-upper" (click)="onSearch()">
     <!-- <mat-icon>search</mat-icon> -->
      <span>Search</span>
    </a>
  </mat-card-actions>
</mat-card>
<span *ngIf="resource !== undefined">
  <mat-card>
      <mat-card-title>Results</mat-card-title>
      <mat-card-subtitle>GET <b>{{query}}</b></mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>

          <td-json-formatter [data]="resource" key="response" [levelsOpen]="8">
          </td-json-formatter>
      </mat-card-content>
  </mat-card>
</span>
