<mat-card>
    <mat-card-title>{{currentResource}} Capabilities</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <span *ngIf="rest !== undefined">
            <span *ngIf="rest.profile != undefined && rest.profile.reference !=undefined">
                <span *ngIf="!rest.profile.reference.includes('hl7.org/fhir/Profile')">
                 <h3>FHIR Profile</h3>
                    <td-message label="{{rest.profile.reference}}" color="blue" icon="info">
                        <a td-message-actions mat-button href="{{rest.profile.reference}}" >VIEW PROFILE</a>
                    </td-message>
                </span>
            </span>
            <h3>Interactions</h3>
            <span *ngFor="let interaction of rest.interaction">

                <span *ngIf="interaction.code === 'read'">
                    <td-expansion-panel label="{{interaction.code}}" [disabled]="disabled">
                        <td-message label="GET {{base}}/{{'{'}}id{{'}'}}" color="green" icon="info"></td-message>
                    </td-expansion-panel>
                </span>
                <span *ngIf="interaction.code === 'create'">
                    <td-expansion-panel label="{{interaction.code}}" [disabled]="disabled">
                        <td-message label="POST {{base}}" color="green" icon="info"></td-message>
                    </td-expansion-panel>
                </span>
                <span *ngIf="interaction.code === 'update'">
                    <td-expansion-panel label="{{interaction.code}}" [disabled]="disabled">
                        <td-message label="PUT {{base}}/{{'{'}}id{{'}'}}" color="green" icon="info"></td-message>
                    </td-expansion-panel>
                </span>
                <span *ngIf="interaction.code === 'search-type'">
                    <td-expansion-panel (expanded)="onExpand()" (collapsed)="onCollapse()" label="{{interaction.code}}" [disabled]="disabled">
                        <td-message label="GET {{base}}?{{'{'}}search parameters{{'}'}}" color="green" icon="info"></td-message>
                        <table>
                            <thead>
                            <tr>
                                <th width="20%">Name</th>
                                <th width="60%">Details</th>
                                <th width="15%">Parameter Type</th>
                                <th width="5%"></th>
                            </tr>
                            </thead>
                            <tr *ngFor="let param of rest.searchParam">
                                <td>{{param.name}}</td>
                                <td>{{param.documentation}}</td>
                                <td>{{param.type}}</td>
                                <td>
                                    <button mat-icon-button color="accent" (click)="onAdd(param)"><mat-icon>add_circle</mat-icon></button>
                                </td>
                            </tr>
                        </table>
                </td-expansion-panel>
                </span>
            </span>
        </span>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="searchVisible && expanded">
    <mat-card-title>Search Form</mat-card-title>
    <mat-card-subtitle>Add Search Fields above</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <td-dynamic-forms #form [elements]="elements">
          <ng-template let-element ngFor [ngForOf]="elements">
            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                <span *ngIf="control.touched || !control.pristine">
                  <span *ngIf="control.hasError('required')">Required</span>
                  <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                  <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                  <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                  <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                </span>
            </ng-template>
          </ng-template>
        </td-dynamic-forms>
        <span *ngIf="progressBar">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </span>

    </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="accent" class="text-upper" (click)="onSearch()">
     <!-- <mat-icon>search</mat-icon> -->
      <span>Search</span>
    </a>
  </mat-card-actions>
</mat-card>
<span *ngIf="resource !== undefined">
  <mat-card>
      <mat-card-title>Results</mat-card-title>
      <mat-card-subtitle>GET <b>{{query}}</b>
          <p>
          <span flex-auto fxLayoutAlign="space-between center">
              <span>
                <span>Results: </span>
                <b *ngIf="resource.entry !== undefined"> {{resource.entry.length}} / {{resource.total}}</b>
              </span>
              <span>
                  <span *ngFor="let link of resource.link.slice().reverse()">
                    <span *ngIf="link.relation ==='previous'">
                        <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_previous</mat-icon></button>
                    </span>
                    <span *ngIf="link.relation ==='next'">
                        <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_next</mat-icon></button>
                    </span>
                  </span>
                </span>
              </span>
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>

          <td-json-formatter [data]="resource" key="response" [levelsOpen]="8">
          </td-json-formatter>
      </mat-card-content>
  </mat-card>
</span>
