<mat-card>
    <mat-card-title>Search Builder</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

        <form>
            <mat-form-field>
                <mat-select class="td-search-box" placeholder="Search Field" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option.name}} - {{option.documentation}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
            <button mat-icon-button color="accent"><mat-icon>add_circle</mat-icon></button>
        </form>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Search Form</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <td-dynamic-forms [elements]="elements">
        </td-dynamic-forms>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Results</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

        <td-json-formatter [data]="resource" key="response" [levelsOpen]="8">
        </td-json-formatter>
    </mat-card-content>
</mat-card>