<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let role"> {{role.id}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef > Role </th>
      <td mat-cell *matCellDef="let role">
        <span *ngFor="let cde of role.code">

          <b>{{cde.coding[0].display}}</b>

        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="specialty">
      <th mat-header-cell *matHeaderCellDef > Specialty </th>
      <td mat-cell *matCellDef="let role">
        <span *ngFor="let cde of role.specialty">
            {{cde.coding[0].display}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="organisation">
      <th mat-header-cell *matHeaderCellDef > Organisation </th>
      <td mat-cell *matCellDef="let role">
        <span *ngIf="role.organization!=undefined">{{role.organization.display}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="organisationLink">
      <th mat-header-cell *matHeaderCellDef width="5%"> Org. </th>
      <td mat-cell *matCellDef="let role">
         <span *ngIf="role.organization != undefined">
          <button mat-icon-button color="accent"  matTooltip="View Practice" (click)="showOrganisation(role)"><mat-icon>account_balance</mat-icon></button>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%"> FHIR </th>
      <td mat-cell *matCellDef="let role">
        <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(role)"><mat-icon>code</mat-icon></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
