
    <mat-card>
      <mat-card-content>

             <div fxLayout="row"
                  fxFlexFill >
                            <h3>Documents</h3>
                               <span flex></span>
                            <mat-chip-list><mat-chip>YAS</mat-chip></mat-chip-list>
                        </div>
          <span *ngIf="documents.length>0">
               <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resource.entry !== undefined"> {{resource.entry.length}} / {{resource.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resource.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>
              <app-document-reference [documents]="documents" (documentReference)="selectResource($event)"></app-document-reference>
          </span>

      </mat-card-content>
    </mat-card>


