<mat-drawer-container fullscreen>
    <mat-drawer mode="side" [opened]="sidenavopen">

        <mat-nav-list td-sidenav-content >

            <button #bs mat-menu-item (click)="onClick($event,'bs' )" ><mat-icon>person_outline</mat-icon>Summary</button>
            <button #aa mat-menu-item (click)="onClick($event,'aa' )" ><mat-icon>airport_shuttle</mat-icon>ATMIST</button>
            <button #bt mat-menu-item (click)="onClick($event,'bt' )" ><mat-icon>date_range</mat-icon>Timeline</button> <!-- <mat-icon>calendar_view_day</mat-icon> -->
            <button #be mat-menu-item (click)="onClick($event,'be')" ><mat-icon>today</mat-icon>Encounters</button>
            <button #bd mat-menu-item (click)="onClick($event,'bd')" ><mat-icon>collections_bookmark</mat-icon>Documents</button>
            <button #bp mat-menu-item (click)="onClick($event,'bp')" ><mat-icon>local_hospital</mat-icon>Procedures</button>
            <button #bo mat-menu-item (click)="onClick($event,'bo')" ><mat-icon>timeline</mat-icon>Observations</button>
            <button #bm mat-menu-item (click)="onClick($event,'bm')" ><mat-icon>colorize</mat-icon>Medications</button>
            <button #bi mat-menu-item (click)="onClick($event,'bi' )" ><mat-icon>directions_boat</mat-icon>Immunisation</button>
            <button #br mat-menu-item (click)="onClick($event,'br' )" ><mat-icon>shopping_cart</mat-icon>Referrals</button>
            <button #ba mat-menu-item matTooltip="SMART on FHIR Applications" [matMenuTriggerFor]="smartMenu"><mat-icon>apps</mat-icon>Applications</button>
        </mat-nav-list>

    </mat-drawer>


    <mat-drawer-content>
<mat-menu #smartMenu >
  <button mat-menu-item *ngFor="let card of cards" (click)="smartApp(card)">{{card.name}}</button>

</mat-menu>

        <span *ngIf="patient !== undefined">
            <mat-card>
                <mat-card-content>
                <div class="container" layout="row" layout-align="start center" flex>

                    <button mat-icon-button (click)="onToggle($event)" color="accent">
                       <mat-icon>menu</mat-icon>
                    </button>
              <span> &nbsp;  <b>{{ getLastName(patient)}}</b>{{getFirstName(patient)}}</span>
              <span flex ></span>

              &nbsp; <i>DOB:</i><b>&nbsp;{{patient.birthDate | date: 'dd-MMM-yyyy'}}</b>

              <span flex></span>
              <span>
                                   &nbsp;<i>Gender:</i><b>&nbsp; {{ patient.gender }}</b>
                                </span>
              <span flex></span>

              &nbsp;<i>NHS No:</i><b>&nbsp;{{ getNHSIdentifier(patient) }}</b>
                  <span flex></span>
              <mat-chip-list>
                <mat-chip #yaschip [color]="yascolor" selected=true>YAS</mat-chip>
                  <mat-chip #acutechip [color]="acutecolor" selected=true>Acute</mat-chip>
                <mat-chip #gpchip [color]="gpcolor" selected=true>GP</mat-chip>
                <mat-chip #nrlschip [color]="nrlscolor" selected=true>NRLS</mat-chip>
              </mat-chip-list>
            </div>
                    </mat-card-content>
                </mat-card>
            </span>



        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>









