


    <mat-card>

      <mat-card-content>

        <h3>Medication Issues</h3>
        <div fxLayout="row"
             fxFlexFill >

          <span flex></span>
          <mat-chip-list><mat-chip [color]="acutecolor" selected=true >Acute</mat-chip></mat-chip-list>
        </div>
        <span *ngIf="medicationRequests.length>0">
             <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resourceIssue.entry !== undefined"> {{resourceIssue.entry.length}} / {{resourceIssue.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resourceIssue.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>
              <app-medication-request [medicationRequests]="medicationRequests" (context)="viewEncounter($event)" ></app-medication-request>
          </span>
        <span *ngIf="medicationRequests.length==0">
              No results found.
          </span>

        <div fxLayout="row"
             fxFlexFill >
          <span flex></span>
          <mat-chip-list><mat-chip [color]="gpcolor" selected=true>GP</mat-chip></mat-chip-list>
        </div>
        <span *ngIf="gpMedicationRequest.length>0">
              <app-medication-request [medicationRequests]="gpMedicationRequest" ></app-medication-request>
          </span>
        <span *ngIf="gpMedicationRequest.length==0">
              No results found.
          </span>

      </mat-card-content>
    </mat-card>

    <mat-card>

      <mat-card-content>

        <h3>Medication Dispensed</h3>
        <div fxLayout="row"
             fxFlexFill >

          <span flex></span>
          <mat-chip-list><mat-chip [color]="acutecolor" selected=true>Acute</mat-chip></mat-chip-list>
        </div>
        <span *ngIf="medicationDispenses.length>0">

             <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resourceDispense.entry !== undefined"> {{resourceDispense.entry.length}} / {{resourceDispense.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resourceDispense.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>

              <app-medication-dispense [medicationDispenses]="medicationDispenses" (context)="viewEncounter($event)" ></app-medication-dispense>
          </span>
        <span *ngIf="medicationDispenses.length==0">
              No results found.
          </span>

      </mat-card-content>
    </mat-card>


    <mat-card>

        <mat-card-content>

          <h3>Medication Administration</h3>
            <div fxLayout="row"
                 fxFlexFill >

                <span flex></span>
                <mat-chip-list><mat-chip [color]="acutecolor" selected=true >Acute</mat-chip></mat-chip-list>
            </div>
            <span *ngIf="medicationAdministrations.length>0">
             <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resourceAdministration.entry !== undefined"> {{resourceAdministration.entry.length}} / {{resourceAdministration.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resourceAdministration.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>
              <app-medication-administration [medicationAdministrations]="medicationAdministrations" (context)="viewEncounter($event)"></app-medication-administration>
          </span>
            <span *ngIf="medicationAdministrations.length==0">
              No results found.
          </span>

        </mat-card-content>
    </mat-card>




    <mat-card>

      <mat-card-content>


        <div fxLayout="row"
             fxFlexFill >
          <h3>Medication Statements</h3>
          <span flex></span>
          <mat-chip-list><mat-chip [color]="acutecolor" selected=true>Acute</mat-chip></mat-chip-list>
        </div>
        <span *ngIf="medicationStatements.length>0">
            <span flex-auto fxLayoutAlign="space-between center">
                  <span>
                    <span>Results: </span>
                    <b *ngIf="resourceStatement.entry !== undefined"> {{resourceStatement.entry.length}} / {{resourceStatement.total}}</b>
                  </span>
                  <span>
                      <span *ngFor="let link of resourceStatement.link.slice().reverse()">
                        <span *ngIf="link.relation ==='previous'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_previous</mat-icon></button>
                        </span>
                        <span *ngIf="link.relation ==='next'">
                            <button mat-icon-button color="accent" (click)="onMoreIssue(link.url)"><mat-icon>skip_next</mat-icon></button>
                        </span>
                      </span>
                    </span>
                  </span>
              <app-medication-statement [medicationStatements]="medicationStatements" ></app-medication-statement>
          </span>
        <span *ngIf="medicationStatements.length==0">
              No results found.
          </span>

      </mat-card-content>
    </mat-card>

