<div fxLayout="row"
     fxFlexFill >
  <!-- Left pane -->
    <div fxFlex="50">
        <mat-card>
            <mat-card-title>Emergency Record</mat-card-title>
            <mat-card-content>
          <span *ngIf="documents.length>0">
              <h4>Document Reference</h4>
              <app-document-reference [documents]="documents" (form)="onResoureSelected($event)"></app-document-reference>
          </span>
                <span *ngIf="encounters.length>0">
              <h4>Encounter</h4>
              <app-encounter [encounters]="encounters" [useBundle]="true" (encounter)="onResoureSelected($event)"></app-encounter>
          </span>

                <span *ngIf="observations.length>0">
              <h4>Observations</h4>
              <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>
          </span>


            </mat-card-content>
        </mat-card>
    </div>
  <div fxFlex="50">
      <mat-card>
          <mat-card-title>National Record Locator Service</mat-card-title>
          <mat-card-content>
        <span *ngIf="nrlsdocuments.length>0">
              <h4>Document Reference</h4>
              <app-document-reference [documents]="nrlsdocuments" (form)="onResoureSelected($event)"></app-document-reference>
          </span>
              <span *ngIf="nrlsdocuments.length===0">
          No records found
        </span>
          </mat-card-content>
      </mat-card>
    <mat-card>
      <mat-card-title>GP Record</mat-card-title>
      <mat-card-content>
        <span *ngIf="gpallergies.length>0">
            <h2>Allergies and Intolerances</h2>
          <app-allergy-intolerance [allergies]="gpallergies"> </app-allergy-intolerance>
        </span>
<!--
        <span *ngIf="gpMedicationRequest.length>0">
             <h2>Prescriptions Issues</h2>
          <app-medication-request [medicationRequests]="gpMedicationRequest"> </app-medication-request>
        </span>
        -->
          <span *ngIf="gpMedicationStatement.length>0">
               <h2>Medication Statement</h2>
          <app-medication-statement [medicationStatements]="gpMedicationStatement"> </app-medication-statement>
        </span>
      </mat-card-content>
    </mat-card>

  </div>

</div>

