<div fxLayout="row"
     fxFlexFill >
  <!-- Left pane -->
  <div fxFlex="50">
    <mat-card>
      <mat-card-title>GP Record</mat-card-title>
      <mat-card-content>
        <mat-card>
          <mat-card-content>Allergies and Intolerances</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Medications</mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>National Records</mat-card-title>
      <mat-card-content>
        <mat-card>
          <mat-card-content>Documents</mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card>
    <mat-card-title>YAS Record</mat-card-title>
    <mat-card-content>
      <mat-card>
        <mat-card-content>Documents</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>Observations</mat-card-content>
      </mat-card>
    </mat-card-content>
    </mat-card>
  </div>
</div>

