<div fxLayout="row"
     fxFlexFill >
    <div fxFlex="100">
        <span *ngIf="patient !== undefined">
            <mat-card>
                <mat-card-content>
                <div class="container" layout="row" layout-align="start center" flex>
              <span> &nbsp;  <b>{{ getLastName(patient)}}</b>{{getFirstName(patient)}}</span>
              <span flex ></span>

              &nbsp; <i>DOB:</i><b>&nbsp;{{patient.birthDate | date: 'dd-MMM-yyyy'}}</b>

              <span flex></span>
              <span>
                                   &nbsp;<i>Gender:</i><b>&nbsp; {{ patient.gender }}</b>
                                </span>
              <span flex></span>

              &nbsp;<i>NHS No:</i><b>&nbsp;{{ getNHSIdentifier(patient) }}</b>
                  <span flex></span>
              <mat-chip-list>
                <mat-chip #yaschip [color]="yascolor" selected=true>YAS</mat-chip>
                  <mat-chip #acutechip [color]="acutecolor" selected=true>Acute</mat-chip>
                <mat-chip #gpchip [color]="gpcolor" selected=true>GP</mat-chip>
                <mat-chip #nrlschip [color]="nrlscolor" selected=true>NRLS</mat-chip>
              </mat-chip-list>
            </div>
                    </mat-card-content>
                </mat-card>
            </span>
    </div>
</div>


<!-- GP Connect -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
       <span *ngIf="gpPatient.length>0">
    <mat-card>

      <mat-card-content>


            <div fxLayout="row"
                 fxFlexFill >
          <h2>Patient</h2>
          <span flex></span>
          <mat-chip-list><mat-chip>GP</mat-chip></mat-chip-list>
        </div>

          <app-patient [patients]="gpPatient"> </app-patient>

      </mat-card-content>
    </mat-card>
</span>
  </div>

</div>

<!-- Conditions -->


<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
                    <span *ngIf="lhcreConditions.length>0">
                         <mat-card>
                         <mat-card-content>
                        <div fxLayout="row"
                             fxFlexFill >
                            <h2>Conditions</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>
                        <app-condition [conditions]="lhcreConditions"> </app-condition>
                         </mat-card-content>
                         </mat-card>
                    </span>
  </div>
</div>

<!-- National Documents -->

<!-- NRLS -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
    <span *ngIf="nrlsdocuments.length>0">
    <mat-card>
      <mat-card-content>

              <h4>Document Reference</h4>
              <app-document-reference [documents]="nrlsdocuments" (form)="onResoureSelected($event)"></app-document-reference>

      </mat-card-content>
    </mat-card>
</span>
  </div>

</div>

<!-- GP Connect -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
     <span *ngIf="gpallergies.length>0">
    <mat-card>
      <mat-card-content>

            <div fxLayout="row"
                 fxFlexFill >
                            <h2>Allergies and Intolerances</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>GP</mat-chip></mat-chip-list>
                        </div>
          <app-allergy-intolerance [allergies]="gpallergies"> </app-allergy-intolerance>
§z§x§z§x§<x></x>
      </mat-card-content>
    </mat-card>
</span>
  </div>
</div>

<!-- Alergies and Intolerance -->

<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
                    <span *ngIf="lhcreAllergies.length>0">
                         <mat-card>
                         <mat-card-content>
                           <div fxLayout="row"
                                fxFlexFill >
                        <h2>Allergies and Intolerances</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>



                        <app-allergy-intolerance [allergies]="lhcreAllergies"> </app-allergy-intolerance>
                             </mat-card-content>
                         </mat-card>
                    </span>
  </div>
</div>

<!-- Medication Statements -->
<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
    <span *ngIf="gpMedicationStatement.length>0">
    <mat-card>

      <mat-card-content>


             <div fxLayout="row"
                  fxFlexFill >
                            <h2>Medication Statement</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>GP</mat-chip></mat-chip-list>
                        </div>
          <app-medication-statement [medicationStatements]="gpMedicationStatement"> </app-medication-statement>

      </mat-card-content>
    </mat-card>
</span>
  </div>

</div>


<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
                    <span *ngIf="lhcreMedicationStatement.length>0">
                         <mat-card>
                         <mat-card-content>
                           <div fxLayout="row"
                                fxFlexFill >
                        <h2>Medication Statement</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>
                        <app-medication-statement [medicationStatements]="lhcreMedicationStatement"> </app-medication-statement>
                             </mat-card-content>
                         </mat-card>
                    </span>
  </div>
</div>


<!-- Documents -->

<div fxLayout="row"
     fxFlexFill >
  <!-- Left pane -->
  <div fxFlex="100">
       <span *ngIf="documents.length>0">
    <mat-card>
      <mat-card-content>

             <div fxLayout="row"
                  fxFlexFill >
                            <h2>Documents</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>YAS</mat-chip></mat-chip-list>
                        </div>

              <app-document-reference [documents]="documents" (form)="onResoureSelected($event)"></app-document-reference>


      </mat-card-content>
    </mat-card>
          </span>
  </div>

</div>

<div fxLayout="row"
     fxFlexFill >
  <!-- Left pane -->
  <div fxFlex="100">
     <span *ngIf="encounters.length>0">
    <mat-card>

      <mat-card-content>


                 <div fxLayout="row"
                      fxFlexFill >
                            <h2>Encounters</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>YAS</mat-chip></mat-chip-list>
                        </div>
              <app-encounter [encounters]="encounters" [useBundle]="true" (encounter)="onResoureSelected($event)"></app-encounter>



      </mat-card-content>
    </mat-card>
       </span>
  </div>

</div>

<div fxLayout="row"
     fxFlexFill >
  <!-- Left pane -->
  <div fxFlex="100">
      <span *ngIf="observations.length>0">
    <mat-card>

      <mat-card-content>

               <div fxLayout="row"
                    fxFlexFill >
                            <h2>Observations</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>YAS</mat-chip></mat-chip-list>
                        </div>
              <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>

      </mat-card-content>
    </mat-card>
        </span>
  </div>

</div>



<div fxLayout="row"
     fxFlexFill >
  <div fxFlex="100">
                    <span *ngIf="lhcreEncounters.length>0">
                         <mat-card>
                         <mat-card-content>

                              <div fxLayout="row"
                                   fxFlexFill >
                        <h2>Encounter</h2>
                               <span flex></span>
                            <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
                        </div>
                        <app-encounter [encounters]="lhcreEncounters"> </app-encounter>

                             </mat-card-content>
                         </mat-card>
                    </span>


    </div>
</div>



