<div fxLayout="row"
     fxFlexFill >
  <!-- Left pane -->
  <div fxFlex="100">

    <mat-card>
      <mat-card-content>

        <div fxLayout="row"
             fxFlexFill >
          <h2>Procedures</h2>
          <span flex></span>
          <mat-chip-list><mat-chip>Acute</mat-chip></mat-chip-list>
        </div>
        <span *ngIf="procedures.length>0">
              <app-procedure  [procedures]="procedures"></app-procedure>
          </span>

      </mat-card-content>
    </mat-card>

  </div>

</div>
